---
import type { HTMLAttributes } from 'astro/types';

import MenuHeaderSubmenu from '#components/menu/menu-header-submenu.astro';
import { getMenuHeaderItems } from '#components/menu/menu-header.ts';
import { getMenuItemAriaLabel, isActiveMenuItem } from '#components/menu/menu-utils.ts';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

interface Props extends HTMLAttributes<'nav'> {
	hasHeroImage: boolean;
}

const { hasHeroImage, ...props } = Astro.props;

const { pathname } = Astro.url;

const menuItems = await getMenuHeaderItems();

const t = getTranslations();
---

<menu-navigation>
	<nav class="nav-menu" aria-label={t('site.menu.header.label')} data-nosnippet {...props}>
		<ul class:list={['nav-ul', hasHeroImage ? 'nav-hero' : 'nav-no-hero']}>
			{
				menuItems.map((item) => {
					const children = item.children;
					const isActive = isActiveMenuItem(item, pathname);
					const triggerClasses = ['nav-item-link', isActive ? 'nav-active' : undefined];

					return (
						<li class="nav-item">
							<div class="nav-item-trigger">
								{item.url ? (
									<Link
										class:list={triggerClasses}
										href={item.url}
										linkColor="accent"
										{...(item.rel ? { rel: item.rel } : undefined)}
									>
										{item.title}
									</Link>
								) : undefined}
								{!item.url && children?.length ? (
									<button type="button" class:list={['link link-accent', ...triggerClasses]}>
										{item.title}
									</button>
								) : undefined}
								{!item.url && !children?.length ? (
									<span class:list={triggerClasses}>{item.title}</span>
								) : undefined}
								{children?.length ? (
									<svg
										width="24"
										height="24"
										viewBox="0 0 24 24"
										class="nav-icon"
										aria-hidden="true"
									>
										<use href="#icon:chevron-down" />
									</svg>
								) : undefined}
							</div>
							{children?.length ? (
								<MenuHeaderSubmenu
									menuItems={children}
									depth={1}
									ariaLabel={getMenuItemAriaLabel(item)}
								/>
							) : undefined}
						</li>
					);
				})
			}
		</ul>
	</nav>
</menu-navigation>

<script>
	import '#components/menu/menu-navigation.ts';
</script>
