---
import type { HTMLAttributes } from 'astro/types';

import MenuHeaderSubmenu from '#components/menu/menu-header-submenu.astro';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getMenuHeaderItems } from '#lib/menu/menu-header.ts';
import { getMenuItemAriaLabel, getMenuItemId, isActiveMenuItem } from '#lib/menu/menu-utils.ts';

interface Props extends HTMLAttributes<'nav'> {
	hasHeroImage: boolean;
}

const { hasHeroImage, ...props } = Astro.props;

const { pathname } = Astro.url;

const menuItems = await getMenuHeaderItems();

const t = getTranslations();
---

<nav class="relative" aria-label={t('site.menu.header.label')} {...props}>
	<ul
		class:list={[
			'flex flex-wrap justify-between gap-x-4 gap-y-2 md:gap-x-2',
			hasHeroImage ? undefined : 'border-primary-200 dark:border-primary-700 border-b',
		]}
	>
		{
			menuItems.map((item) => (
				<li id={getMenuItemId(item)} class="group py-2 sm:relative">
					<button class="flex items-center gap-x-1" aria-label={getMenuItemAriaLabel(item)}>
						<Link
							linkColor="accent"
							class:list={[
								'text-sm font-medium sm:text-base',
								isActiveMenuItem(item, pathname) ? 'font-semibold' : undefined,
							]}
							href={item.url}
							{...(item.rel ? { rel: item.rel } : undefined)}
						>
							{item.title}
						</Link>
						{item.children ? (
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								class:list={[
									'text-primary-500 h-full w-[18px] opacity-100 transition-transform transition-discrete duration-100 group-focus-within:scale-y-[-1] group-hover:scale-y-[-1]',
								]}
								aria-hidden="true"
							>
								<title>A downward-facing chevron</title>
								<path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6z" />
							</svg>
						) : undefined}
					</button>
					{item.children ? (
						<MenuHeaderSubmenu hasHeroImage={hasHeroImage} menuItems={item.children} depth={1} />
					) : undefined}
				</li>
			))
		}
	</ul>
</nav>
