---
import type { HTMLAttributes } from 'astro/types';

import { stripTags } from '@xsynaptic/unified-tools';

import TextGradient from '#components/parts/text-gradient.astro';
import { zIndexScaleEnum } from '#components/types.ts';
import { renderSlot } from '#lib/utils/astro.ts';

interface Props extends HTMLAttributes<'div'> {
	class?: string | undefined;
	hasHeroImage?: boolean | undefined;
}

const { class: className, hasHeroImage, ...props } = Astro.props;

const title = await renderSlot(Astro.slots, 'header-title');
const titleMultilingual = await renderSlot(Astro.slots, 'header-title-multilingual');
const subtitle = await renderSlot(Astro.slots, 'header-subtitle');
const caption = await renderSlot(Astro.slots, 'header-caption');

const titleMultilingualText = titleMultilingual ? stripTags(titleMultilingual).trim() : undefined;
---

<div
	class:list={[
		'content-column',
		hasHeroImage
			? 'flex flex-col justify-end pt-2 sm:absolute sm:right-0 sm:bottom-0 sm:left-0 sm:mb-0 sm:pt-0'
			: 'mb-2 pt-4',
		className,
	]}
	{...hasHeroImage ? { style: { zIndex: zIndexScaleEnum.ImageHeader } } : {}}
	{...props}
>
	{
		titleMultilingual ? (
			<TextGradient
				as="div"
				gradientColor={hasHeroImage ? 'accent-featured' : 'accent'}
				class:list={[
					'title-ml pb-1 text-base leading-snug font-medium',
					hasHeroImage
						? 'text-lg sm:-mb-1 sm:drop-shadow-xs md:text-xl lg:text-2xl'
						: 'text-lg md:text-xl lg:text-2xl',
				]}
				style={{ marginLeft: '-0.125rem' }}
				{...(titleMultilingualText
					? { 'data-pagefind-meta': `title_ml:${titleMultilingualText}` }
					: undefined)}
				data-pagefind-ignore
			>
				<Fragment set:html={titleMultilingual} />
			</TextGradient>
		) : undefined
	}
	<div class="bg-clip-padding pb-0 sm:pb-2" {...hasHeroImage ? { id: 'main-content' } : {}}>
		<TextGradient
			as="h1"
			gradientColor={hasHeroImage ? 'primary-featured' : 'primary'}
			class:list={[
				'pb-2 font-display text-2xl font-semibold',
				hasHeroImage
					? '-mb-1 sm:-mb-3 sm:text-3xl sm:drop-shadow-sm md:text-4xl lg:text-5xl'
					: 'mb-0 sm:-mb-2 md:text-3xl lg:text-4xl',
			]}
			style={{ lineHeight: '1.125', marginLeft: '-0.125rem' }}
		>
			{title ? <Fragment set:html={title} /> : undefined}
		</TextGradient>
	</div>
	{
		subtitle || caption ? (
			<div
				class:list={[
					'items-start gap-1 pb-2 text-sm sm:flex sm:flex-wrap',
					hasHeroImage
						? 'divided-hero text-primary-500 sm:text-primary-300 dark:text-primary-400 dark:sm:text-primary-300'
						: 'text-primary-500 dark:text-primary-400',
				]}
				data-pagefind-ignore
			>
				{subtitle ? <Fragment set:html={subtitle} /> : undefined}
				{caption ? (
					<div class="flex flex-1 flex-nowrap items-end justify-end gap-1">
						<Fragment set:html={caption} />
					</div>
				) : undefined}
			</div>
		) : undefined
	}
</div>
