---
import Container from '#components/parts/container.astro';
import Link from '#components/parts/link.astro';
import ProseBody from '#components/parts/prose-body.astro';
import ProseDescription from '#components/parts/prose-description.astro';
import { CONTENT_EXCERPT_IDENTIFIER } from '#constants.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

interface Props {
	class?: string | undefined;
	entryUrl: string;
}

const { class: className, entryUrl } = Astro.props;

const subtitle = await Astro.slots.render('excerpt-subtitle');
const description = await Astro.slots.render('excerpt-description');
const content = (await Astro.slots.render('default')) as string | undefined;

// Generate the excerpt
const excerptSplit = content?.split(`<!-- ${CONTENT_EXCERPT_IDENTIFIER} -->`) ?? [];
const excerptContent = excerptSplit[0];
const hasExcerpt = excerptSplit.length > 1;

const t = getTranslations();
---

<article class={className}>
	<Container as="header" class:list={[description ? undefined : 'mb-2']}>
		<h2 class="mb-1 text-2xl font-bold lg:text-3xl">
			<a
				href={entryUrl}
				class:list={[
					'transition-colors ease-in',
					'text-primary-700 hover:text-accent-500 dark:text-primary-300 dark:hover:text-accent-300',
				]}
			>
				<slot name="excerpt-title" />
			</a>
		</h2>
		{
			subtitle ? (
				<h3
					class:list={[
						'mb-1 text-xs font-medium md:text-sm',
						'text-primary-400 dark:text-primary-500',
					]}
				>
					<Fragment set:html={subtitle} />
				</h3>
			) : undefined
		}
		{
			description ? (
				<ProseDescription>
					<Fragment set:html={description} />
				</ProseDescription>
			) : undefined
		}
	</Container>
	<ProseBody class="pb-small"><Fragment set:html={excerptContent} /></ProseBody>
	{
		hasExcerpt ? (
			<Container as="div">
				<slot name="excerpt-more-link">
					<div class="text-right font-serif font-medium italic">
						<Link href={entryUrl}>{t('content.more.label')}</Link>&nbsp;&raquo;
					</div>
				</slot>
			</Container>
		) : undefined
	}
</article>
