---
import type { HTMLAttributes } from 'astro/types';

import type { ImageComponentProps, ImagePlaceholderProps } from '#lib/image/image-types.ts';

import ImagePlaceholder from '#components/image/image-placeholder.astro';
import Image from '#components/parts/image.astro';
import Link from '#components/parts/link.astro';
import Prose from '#components/parts/prose.astro';
import { CONTENT_EXCERPT_IDENTIFIER, IMAGE_HQ_FORMAT, IMAGE_HQ_QUALITY } from '#constants.ts';
import { getImageByIdFunction } from '#lib/collections/images/images-utils.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getImageBreakpoints, getImageLayoutSizesProp } from '#lib/image/image-layout.ts';
import { ImageFitOptionEnum, ImageLayoutEnum, ImageSizeEnum } from '#lib/image/image-types.ts';
import { renderSlot } from '#lib/utils/astro.ts';
import { sanitizeImageAltAttribute, stripFootnotes } from '#lib/utils/text.ts';

interface Props extends HTMLAttributes<'article'> {
	class?: string | undefined;
	entryUrl: string;
	imageId?: string | undefined;
	showDivider?: boolean | undefined;
}

const { class: className, entryUrl, imageId, showDivider, ...props } = Astro.props;

const subtitle = await renderSlot(Astro.slots, 'excerpt-subtitle');
const description = await renderSlot(Astro.slots, 'excerpt-description');
const content = await renderSlot(Astro.slots, 'default');

// Generate the excerpt
const excerptSplit = content?.split(CONTENT_EXCERPT_IDENTIFIER) ?? [];
const excerptContent = excerptSplit[0] ? stripFootnotes(excerptSplit[0]) : undefined;
const hasExcerpt = excerptSplit.length > 1;

async function getImageProps(imageId: string | undefined): Promise<{
	imageProps: ImageComponentProps | undefined;
	placeholderProps: ImagePlaceholderProps | undefined;
}> {
	const getImageById = await getImageByIdFunction();

	const imageEntry = getImageById(imageId);

	if (!imageId || !imageEntry) return { imageProps: undefined, placeholderProps: undefined };

	const aspectRatio = 3 / 2;
	const fit = ImageFitOptionEnum.Cover;

	return {
		imageProps: {
			src: imageId,
			breakpoints: getImageBreakpoints({
				maxWidth: imageEntry.data.width,
				widths: [
					ImageSizeEnum.ExtraSmall,
					ImageSizeEnum.Small,
					ImageSizeEnum.Medium,
					ImageSizeEnum.Large,
					ImageSizeEnum.ExtraLarge,
				],
			}),
			sizes: getImageLayoutSizesProp(ImageLayoutEnum.Default),
			width: ImageSizeEnum.Large,
			height: Math.round(ImageSizeEnum.Large / aspectRatio),
			alt: sanitizeImageAltAttribute(imageEntry.data.title),
			unstyled: true,
			operations: { fit },
			imageQuality: IMAGE_HQ_QUALITY,
			imageFormat: IMAGE_HQ_FORMAT,
		},
		placeholderProps: {
			imageId,
			aspectRatio,
			fit,
		},
	};
}

const { imageProps, placeholderProps } = await getImageProps(imageId);

const t = getTranslations();
---

<article class={className} {...props}>
	<header class:list={['content-column', description ? undefined : 'mb-2']}>
		<h2 class="mb-1 text-2xl font-bold lg:text-3xl">
			<a
				href={entryUrl}
				class:list={[
					'transition-colors ease-in',
					'text-primary-700 hover:text-accent-500 dark:text-primary-300 dark:hover:text-accent-300',
				]}
			>
				<slot name="excerpt-title" />
			</a>
		</h2>
		{
			subtitle ? (
				<h3
					class:list={[
						'mb-1 text-xs font-medium md:text-sm',
						'text-primary-400 dark:text-primary-500',
					]}
				>
					<Fragment set:html={subtitle} />
				</h3>
			) : undefined
		}
		{
			description ? (
				<Prose>
					<Fragment set:html={description} />
				</Prose>
			) : undefined
		}
	</header>
	{
		imageProps && placeholderProps ? (
			<div class="content-column mb-2 md:mb-4">
				<ImagePlaceholder
					class="relative overflow-hidden rounded-xs"
					placeholderProps={placeholderProps}
				>
					<a href={entryUrl}>
						<Image class:list={['m-0 aspect-3/2 text-sm text-transparent']} {...imageProps} />
					</a>
				</ImagePlaceholder>
			</div>
		) : undefined
	}
	<Prose class:list={['pb-4']} showBlocks={true}><Fragment set:html={excerptContent} /></Prose>
	{
		hasExcerpt ? (
			<div class="content-column text-right font-serif font-medium italic">
				<Link href={entryUrl}>{t('content.more.label')}</Link>&nbsp;&raquo;
			</div>
		) : undefined
	}
</article>
{
	showDivider ? (
		<div class="content-column">
			<hr class="mt-8 mb-8 text-primary-200 dark:text-primary-700" />
		</div>
	) : undefined
}
