---
import type { CollectionEntry } from 'astro:content';

import * as R from 'remeda';

import ContentSection from '#components/content/content-section.astro';
import Link from '#components/parts/link.astro';
import ListColumnItem from '#components/parts/list-column-item.astro';
import ListColumn from '#components/parts/list-column.astro';
import { getResolveResourceSourcesFunction } from '#lib/collections/resources/resources-utils.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { LanguageCodeEnum } from '#lib/i18n/i18n-types.ts';
import { getMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getContentUrl } from '#lib/utils/routing.ts';

interface Props {
	entry: CollectionEntry<'locations' | 'posts' | 'regions' | 'themes'>;
}

const { entry, ...props } = Astro.props;

const getResolveResourceSources = await getResolveResourceSourcesFunction();

const sources = getResolveResourceSources(entry);

const t = getTranslations();

const SourcesFormattingMap = {
	[LanguageCodeEnum.English]: {
		authorsDelimiter: ' & ',
		delimiter: ', ',
		quoteStart: '',
		quoteEnd: '',
		sentenceDelimiter: '.',
	},
	[LanguageCodeEnum.ChineseTraditional]: {
		authorsDelimiter: '，',
		delimiter: '，',
		quoteStart: '《',
		quoteEnd: '》',
		sentenceDelimiter: '。',
	},
	[LanguageCodeEnum.Japanese]: {
		authorsDelimiter: '、',
		delimiter: '、',
		quoteStart: '『',
		quoteEnd: '』',
		sentenceDelimiter: '。',
	},
} as const;
---

{
	sources && sources.length > 0 ? (
		<ContentSection data-pagefind-ignore data-nosnippet {...props}>
			<Fragment slot="section-title">{t('content.section.sources')}</Fragment>
			<ListColumn class="font-serif text-xs sm:text-sm">
				{sources.map((source) => {
					// Get multilingual content for each field
					const titleMultilingual = getMultilingualContent({
						data: source,
						prop: 'title',
					})?.primary;
					const publisherMultilingual = getMultilingualContent({
						data: source,
						prop: 'publisher',
					})?.primary;

					let Authors: Node | undefined;
					let Title: Node | undefined;
					let Publisher: Node | undefined;

					if (source.title) {
						if (source.authors) {
							Authors = (
								<span>
									{source.authors
										.map((author) => author.name)
										.join(SourcesFormattingMap[LanguageCodeEnum.English].authorsDelimiter)}
								</span>
							);
						}
						Title =
							'id' in source && 'showPage' in source && source.showPage ? (
								<Link href={getContentUrl('resources', source.id)}>
									<span class="italic">{source.title}</span>
								</Link>
							) : (
								<span class="italic">{source.title}</span>
							);
						if (source.publisher && source.datePublished) {
							Publisher = (
								<span>
									{source.publisher}, {source.datePublished}
								</span>
							);
						} else if (source.publisher) {
							Publisher = <span>{source.publisher}</span>;
						} else if (source.datePublished) {
							Publisher = <span>{source.datePublished}</span>;
						}
					}

					let AuthorsMultilingual: Node | undefined;
					let TitleMultilingual: Node | undefined;
					let PublisherMultilingual: Node | undefined;

					if (
						(titleMultilingual?.lang.startsWith(LanguageCodeEnum.ChineseTraditional) ||
							publisherMultilingual?.lang.startsWith(LanguageCodeEnum.ChineseTraditional)) &&
						titleMultilingual?.value
					) {
						if (source.authors) {
							const authorNames = source.authors
								.map((author) => author.name_zh)
								.filter((name) => name !== undefined);

							if (authorNames.length > 0) {
								AuthorsMultilingual = (
									<span>
										{authorNames.join(
											SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].authorsDelimiter
										)}
									</span>
								);
							}
						}
						TitleMultilingual =
							'id' in source && 'showPage' in source && source.showPage ? (
								<Link href={getContentUrl('resources', source.id)}>
									{SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].quoteStart}
									{titleMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].quoteEnd}
								</Link>
							) : (
								<span>
									{SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].quoteStart}
									{titleMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].quoteEnd}
								</span>
							);
						if (publisherMultilingual?.value && source.datePublished) {
							PublisherMultilingual = (
								<span>
									{publisherMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.ChineseTraditional].delimiter}
									{source.datePublished}
								</span>
							);
						} else if (publisherMultilingual?.value) {
							PublisherMultilingual = <span>{publisherMultilingual.value}</span>;
						} else if (source.datePublished) {
							PublisherMultilingual = <span>{source.datePublished}</span>;
						}
					} else if (
						(titleMultilingual?.lang.startsWith(LanguageCodeEnum.Japanese) ||
							publisherMultilingual?.lang.startsWith(LanguageCodeEnum.Japanese)) &&
						titleMultilingual?.value
					) {
						if (source.authors) {
							const authorNames = source.authors
								.map((author) => author.name_ja)
								.filter((name) => name !== undefined);

							if (authorNames.length > 0) {
								AuthorsMultilingual = (
									<span>
										{authorNames.join(
											SourcesFormattingMap[LanguageCodeEnum.Japanese].authorsDelimiter
										)}
									</span>
								);
							}
						}
						TitleMultilingual =
							'id' in source && 'showPage' in source && source.showPage ? (
								<Link href={getContentUrl('resources', source.id)}>
									{SourcesFormattingMap[LanguageCodeEnum.Japanese].quoteStart}
									{titleMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.Japanese].quoteEnd}
								</Link>
							) : (
								<span>
									{SourcesFormattingMap[LanguageCodeEnum.Japanese].quoteStart}
									{titleMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.Japanese].quoteEnd}
								</span>
							);
						if (publisherMultilingual?.value && source.datePublished) {
							PublisherMultilingual = (
								<span>
									{publisherMultilingual.value}
									{SourcesFormattingMap[LanguageCodeEnum.Japanese].delimiter}
									{source.datePublished}
								</span>
							);
						} else if (publisherMultilingual?.value) {
							PublisherMultilingual = <span>{publisherMultilingual.value}</span>;
						} else if (source.datePublished) {
							PublisherMultilingual = <span>{source.datePublished}</span>;
						}
					}

					return (
						<ListColumnItem class="flex flex-col items-start gap-1 font-serif">
							<span>
								{Authors}
								{Authors && Title
									? SourcesFormattingMap[LanguageCodeEnum.English].delimiter
									: undefined}
								{Title}
								{Title && Publisher
									? SourcesFormattingMap[LanguageCodeEnum.English].delimiter
									: undefined}
								{Publisher}
								{TitleMultilingual ? ' ' : undefined}
							</span>
							{TitleMultilingual &&
							titleMultilingual?.lang &&
							R.isIncludedIn(titleMultilingual.lang, [
								LanguageCodeEnum.ChineseTraditional,
								LanguageCodeEnum.Japanese,
							]) ? (
								<span lang={titleMultilingual.lang}>
									{AuthorsMultilingual}
									{AuthorsMultilingual
										? SourcesFormattingMap[titleMultilingual.lang].delimiter
										: undefined}
									{TitleMultilingual}
									{PublisherMultilingual
										? SourcesFormattingMap[titleMultilingual.lang].delimiter
										: undefined}
									{PublisherMultilingual}
								</span>
							) : undefined}
						</ListColumnItem>
					);
				})}
			</ListColumn>
		</ContentSection>
	) : undefined
}
