---
import type { CollectionEntry } from 'astro:content';

import { render } from 'astro:content';

import ContentSection from '#components/content/content-section.astro';
import ListColumnItem from '#components/list/list-column-item.astro';
import ListColumn from '#components/list/list-column.astro';
import Link from '#components/parts/link.astro';
import Multilingual from '#components/parts/multilingual.astro';
import ProseDescription from '#components/parts/prose-description.astro';
import { getSeriesByIdFunction } from '#lib/collections/series/utils.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

const t = getTranslations();

interface Props {
	entry: CollectionEntry<'locations' | 'posts'>;
}

const { entry, ...props } = Astro.props;

const getSeriesById = await getSeriesByIdFunction();

const seriesData = getSeriesById({ collection: entry.collection, id: entry.id });
---

{
	seriesData.length > 0
		? seriesData.map(async ({ entry, metadataItems }) => {
				const { Content } = await render(entry);

				return metadataItems.length > 0 ? (
					<ContentSection data-pagefind-ignore data-nosnippet {...props}>
						<Fragment slot="section-title">
							{t('collection.series.labelPlural')}: <span>{entry.data.title}</span>
						</Fragment>
						<ProseDescription showCompact={true}>
							<Content />
						</ProseDescription>
						<ListColumn class="mt-small font-serif text-xs md:text-sm">
							{metadataItems.map(({ url, title, titleMultilingual }) => (
								<ListColumnItem>
									<Link href={url}>{title}</Link>
									{titleMultilingual ? (
										<Multilingual content={titleMultilingual} parenthesis={true} />
									) : undefined}
								</ListColumnItem>
							))}
						</ListColumn>
					</ContentSection>
				) : undefined;
			})
		: undefined
}
