---
import type { HTMLAttributes } from 'astro/types';

import type { DatePreset } from '#lib/utils/date.ts';

import DateDisplay from '#components/parts/date-display.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

interface Props extends HTMLAttributes<'div'> {
	date: string | Date | undefined;
	dateUpdated?: string | Date | undefined;
	datePreset: DatePreset;
	showMicroformats?: boolean | undefined;
}

const { date, datePreset, dateUpdated, showMicroformats = false, ...props } = Astro.props;

const t = getTranslations();
---

{
	date ? (
		<div {...props}>
			{dateUpdated ? (
				<div class="flex flex-wrap gap-1">
					<span>
						<DateDisplay
							class:list={[showMicroformats ? 'dt-published' : undefined]}
							date={date}
							datePreset={datePreset}
						/>
						{'; '}
					</span>
					<span>{t('content.meta.dateUpdated.label')}</span>
					<span>
						<DateDisplay
							class:list={[showMicroformats ? 'dt-updated' : undefined]}
							date={dateUpdated}
						/>
					</span>
				</div>
			) : (
				<DateDisplay
					class:list={[showMicroformats ? 'dt-published' : undefined]}
					date={date}
					datePreset={datePreset}
				/>
			)}
		</div>
	) : undefined
}
