---
import type { RemoteImageProps } from 'astro:assets';

import { Image } from 'astro:assets';

import type { ImageLayoutOption } from '#lib/image/image-layout.ts';

import { FEATURE_IMAGE_PAGES } from '#constants.ts';
import { IMAGE_FORMAT, IMAGE_QUALITY } from '#constants.ts';
import { getImageById } from '#lib/collections/images/utils.ts';
import { getImageLayoutProps } from '#lib/image/image-layout.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { sanitizeAltAttribute, sanitizeCaption } from '#lib/utils/text.ts';
import ImagePlaceholder from '#components/parts/image-placeholder.astro';

interface Props {
	imageId: string;
	alt?: string;
	layout?: ImageLayoutOption;
}

const { imageId, alt: altProp, layout } = Astro.props;

// This controls how the component is rendered; RSS requires a less complex output
const { isRss } = Astro.locals;

const slotContents = (await Astro.slots.render('default')) as string | undefined;

const imageEntry = await getImageById(imageId);

const imageLinkUrl =
	FEATURE_IMAGE_PAGES && imageEntry?.id ? getSiteUrl('image', imageEntry.id) : undefined;

const imageProps = imageEntry
	? ((isRss
			? {
					src: imageEntry.data.src,
					alt: sanitizeAltAttribute(altProp ?? slotContents ?? ''),
					width: imageEntry.data.height > imageEntry.data.width ? 900 : 1200,
					height: imageEntry.data.height > imageEntry.data.width ? 120 : 900,
					format: IMAGE_FORMAT,
					quality: IMAGE_QUALITY,
				}
			: {
					src: imageEntry.data.src,
					alt: sanitizeAltAttribute(altProp ?? slotContents ?? ''),
					format: IMAGE_FORMAT,
					quality: IMAGE_QUALITY,
					...getImageLayoutProps({
						width: imageEntry.data.width,
						height: imageEntry.data.height,
						layout,
					}),
				}) satisfies RemoteImageProps)
	: undefined;

const caption = slotContents ? sanitizeCaption(slotContents) : undefined;

const placeholder = imageEntry ? imageEntry.data.placeholder : undefined;
---

{
	imageProps ? (
		isRss ? (
			<figure>
				{imageLinkUrl ? (
					<a href={imageLinkUrl}>
						<Image loading="lazy" {...imageProps} />
					</a>
				) : (
					<Image loading="lazy" {...imageProps} />
				)}
				{caption ? (
					<figcaption>
						<Fragment set:html={caption} />
					</figcaption>
				) : undefined}
			</figure>
		) : (
			<figure
				class:list={[
					'content-image',
					'not-prose',
					layout === 'medium'
						? 'max-w-content sm:px-small md:px-medium mx-auto mb-2 md:mb-4'
						: undefined,
					layout === 'wide' ? 'sm:px-small md:px-medium mb-2 w-full' : undefined,
					layout === 'full' ? 'mb-2 w-full' : undefined,
				]}
			>
				<ImagePlaceholder
					class:list={[layout === 'full' ? undefined : 'sm:rounded-xs']}
					placeholder={placeholder}
				>
					{imageLinkUrl ? (
						<a href={imageLinkUrl}>
							<Image
								class:list={[
									'm-0 object-cover object-center text-sm text-transparent',
									layout === 'full' ? undefined : 'sm:rounded-xs',
								]}
								loading="lazy"
								{...imageProps}
							/>
						</a>
					) : (
						<Image
							class:list={[
								'm-0 object-cover object-center text-sm text-transparent',
								layout === 'full' ? undefined : 'sm:rounded-xs',
							]}
							loading="lazy"
							{...imageProps}
						/>
					)}
				</ImagePlaceholder>
				{caption ? (
					<figcaption
						class:list={[
							'content-image-caption',
							'px-small py-1 text-sm leading-relaxed italic',
							'text-primary-500 dark:text-primary-400',
							layout === 'full' ? 'max-w-content px-small md:px-medium mx-auto' : 'sm:px-0',
						]}
					>
						<Fragment set:html={caption} />
					</figcaption>
				) : undefined}
			</figure>
		)
	) : undefined
}
