---
import { ClientRouter } from 'astro:transitions';

import type { MetaProps } from '#components/main/main-meta.astro';

import { Font } from 'astro:assets';

import '#styles/global.css';
import MainFooter from '#components/main/main-footer.astro';
import MainHeader from '#components/main/main-header.astro';
import MainMeta from '#components/main/main-meta.astro';
import LoadingBar from '#components/progress-bar/progress-bar-loading.astro';
import ReadingBar from '#components/progress-bar/progress-bar-reading.astro';
import ThemeManager from '#components/theme/theme-manager.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	meta?: MetaProps;
	hasHeroImage?: boolean;
	hasReadingBar?: boolean;
}

const { hasHeroImage = false, hasReadingBar, meta } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${getSiteUrl()}favicon.svg`}
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${getSiteUrl()}favicon.svg`}
			media="(prefers-color-scheme: dark)"
		/>
		<MainMeta meta={meta} />
		<Font cssVariable="--font-commissioner" preload />
		<Font cssVariable="--font-geologica" preload />
		<Font cssVariable="--font-lora" />
		<ThemeManager defaultTheme="auto" />
		<ClientRouter />
	</head>
	<body
		class:list={[
			'flex min-h-screen min-w-[350px] flex-col overscroll-contain transition-colors',
			'bg-primary-100 text-primary-700 dark:bg-primary-800 dark:text-primary-400',
		]}
	>
		<MainHeader hasHeroImage={hasHeroImage} />
		<main id="content" class="flex-1">
			<slot />
		</main>
		<MainFooter />
		<LoadingBar />
		{hasReadingBar ? <ReadingBar /> : undefined}
	</body>
</html>
