---
import { Font } from 'astro:assets';
import { UMAMI_DOMAIN, UMAMI_ID } from 'astro:env/client';
import { IPX_SERVER_URL } from 'astro:env/server';
import { ClientRouter } from 'astro:transitions';

import '#styles/global.css';
import type { MetaProps } from '#components/types.ts';

import MainFooter from '#components/main/main-footer.astro';
import MainHeader from '#components/main/main-header.astro';
import MainMeta from '#components/main/main-meta.astro';
import ModeManager from '#components/main/main-mode-manager.astro';
import ProgressBarLoading from '#components/main/main-progress-loading.astro';
import ProgressBarReading from '#components/main/main-progress-reading.astro';
import UmamiAnalytics from '#components/main/main-umami-analytics.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	meta?: MetaProps;
	hasHeroImage?: boolean;
	isHomepage?: boolean;
}

const { hasHeroImage = false, meta, isHomepage = false } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${getSiteUrl()}favicon.svg`}
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${getSiteUrl()}favicon.svg`}
			media="(prefers-color-scheme: dark)"
		/>
		<link rel="preconnect" href={IPX_SERVER_URL} crossorigin />
		<MainMeta {...meta} />
		<Font cssVariable="--font-commissioner" preload />
		<Font cssVariable="--font-geologica" preload />
		<Font cssVariable="--font-lora" preload />
		<ModeManager defaultMode="auto" />
		<ClientRouter />
		<UmamiAnalytics
			siteId={UMAMI_ID}
			domain={UMAMI_DOMAIN}
			isProduction={import.meta.env.PROD}
			isViewTransitionsEnabled={true}
		/>
	</head>
	<body
		class:list={[
			'bg-primary-100 text-primary-700 dark:bg-primary-800 dark:text-primary-400',
			'flex min-h-screen min-w-[350px] flex-col overscroll-contain transition-colors',
		]}
	>
		<MainHeader hasHeroImage={hasHeroImage} isHomepage={isHomepage} />
		<main id="content" class="flex-1">
			<slot />
		</main>
		<MainFooter />
		<ProgressBarLoading
			class:list={[
				'z-99 rounded-br-md shadow-lg shadow-current',
				'bg-linear-to-r from-highlight-400 to-highlight-300 text-highlight-200 dark:text-highlight-800',
			]}
			height="2.5px"
		/>
		<ProgressBarReading
			class:list={[
				'z-98 rounded-br-md shadow-lg shadow-current',
				'bg-linear-to-r from-accent-500 to-accent-300 text-accent-200 dark:text-accent-800',
			]}
			height="2.5px"
		/>
	</body>
</html>
