---
import type { HTMLAttributes } from 'astro/types';

import type { MenuItem } from '#lib/main/main-types.ts';

import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getMenuItemAriaLabel, isActiveMenuItem } from '#lib/main/main-menu-utils.ts';

interface Props extends HTMLAttributes<'ul'> {
	hasHeroImage: boolean;
	menuItems: Array<MenuItem>;
	depth: number;
	isFirstMenuItem?: boolean;
	ariaLabel?: string;
}

const { hasHeroImage, menuItems, depth, isFirstMenuItem = true, ariaLabel, ...props } = Astro.props;

const { pathname } = Astro.url;

const multilingualRegions = new Set(['taiwan', 'hong-kong']);

function shouldShowMultilingual({ item, depth }: { item: MenuItem; depth: number }) {
	switch (item.collection) {
		case 'regions': {
			return item.titleMultilingual && depth > 1 && multilingualRegions.has(item.ancestor ?? '');
		}
		case 'series': {
			return !!item.titleMultilingual;
		}
		case 'themes': {
			return !!item.titleMultilingual;
		}
		default: {
			return false;
		}
	}
}
---

<ul
	class:list={[
		'pointer-events-none invisible absolute w-full max-w-full divide-y opacity-0 transition-[opacity,visibility] transition-discrete sm:w-fit md:max-w-80',
		depth === 1
			? [
					hasHeroImage
						? 'divide-primary-200 bg-primary-100 dark:divide-primary-700 dark:bg-primary-800'
						: 'mt-px divide-primary-200 bg-primary-100 dark:divide-primary-700 dark:bg-primary-800',
					'group-focus-within:pointer-events-auto group-focus-within:visible group-focus-within:opacity-100 group-hover:pointer-events-auto group-hover:visible group-hover:opacity-100',
					'top-full left-0 z-90 -mb-px shadow-md duration-200 sm:-left-2 sm:max-w-64 sm:min-w-40 sm:rounded-bl-md',
				]
			: undefined,
		depth === 2
			? [
					hasHeroImage
						? 'divide-primary-300 bg-primary-200 dark:divide-primary-600 dark:bg-primary-700'
						: 'divide-primary-300 bg-primary-200 dark:divide-primary-600 dark:bg-primary-700',
					'sm:group-focus-within/d2:pointer-events-auto sm:group-focus-within/d2:visible sm:group-focus-within/d2:opacity-100 sm:group-hover/d2:pointer-events-auto sm:group-hover/d2:visible sm:group-hover/d2:opacity-100',
					'left-0 z-91 shadow-md duration-50 sm:top-0 sm:left-full sm:max-w-50 sm:min-w-40 sm:rounded-br-md',
				]
			: undefined,
		depth > 2
			? [
					hasHeroImage
						? 'divide-primary-300 bg-primary-200 dark:divide-primary-600 dark:bg-primary-700'
						: 'divide-primary-300 bg-primary-200 dark:divide-primary-600 dark:bg-primary-700',
					'sm:group-focus-within/d3:pointer-events-auto sm:group-focus-within/d3:visible sm:group-focus-within/d3:opacity-100 sm:group-hover/d3:pointer-events-auto sm:group-hover/d3:visible sm:group-hover/d3:opacity-100',
					'left-0 z-92 duration-50 sm:top-0 sm:left-full sm:max-w-50 sm:min-w-40 sm:rounded-br-md',
				]
			: undefined,
		depth > 1 && !isFirstMenuItem ? 'sm:rounded-tr-md' : undefined,
	]}
	aria-label={ariaLabel}
	{...props}
>
	{
		menuItems.map((item, index) => {
			const showMultilingual = shouldShowMultilingual({ item, depth });

			return (
				<li
					class:list={['relative', depth === 1 ? 'group/d2' : 'group/d3']}
				>
					<div
						class="flex w-full items-center justify-between gap-x-1 px-small py-1 text-sm sm:px-2"
					>
						<Link
							linkColor="accent"
							class:list={[
								'w-full truncate text-left',
								isActiveMenuItem(item, pathname) ? 'font-semibold' : undefined,
							]}
							href={item.url}
							{...(item.rel ? { rel: item.rel } : undefined)}
						>
							<Fragment set:html={item.title} />
							{showMultilingual ? (
								<TextMultilingual
									content={item.titleMultilingual}
									class:list={[
										'text-xs',
										'text-primary-700 dark:text-primary-400',
										isActiveMenuItem(item, pathname) ? 'font-semibold' : undefined,
									]}
									parenthesis={true}
								/>
							) : undefined}
						</Link>
						{item.children && item.children.length > 0 ? (
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								class:list={['invisible h-full w-[14px] text-primary-400 sm:visible']}
								aria-hidden="true"
							>
								<title>A right-facing chevron</title>
								<path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6z" />
							</svg>
						) : undefined}
					</div>
					{item.children && item.children.length > 0 ? (
						<Astro.self
							hasHeroImage={hasHeroImage}
							menuItems={item.children}
							depth={depth + 1}
							isFirstMenuItem={isFirstMenuItem && index === 0}
							ariaLabel={getMenuItemAriaLabel(item)}
						/>
					) : undefined}
				</li>
			);
		})
	}
</ul>
