---
import type { HTMLAttributes } from 'astro/types';

import type { MenuItem } from '#lib/main/main-menu-types.ts';

import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getMenuItemAriaLabel, isActiveMenuItem } from '#lib/main/main-menu-utils.ts';

interface Props extends HTMLAttributes<'ul'> {
	menuItems: Array<MenuItem>;
	depth: number;
	isFirstMenuItem?: boolean;
	ariaLabel?: string;
}

const { menuItems, depth, isFirstMenuItem = true, ariaLabel, ...props } = Astro.props;

const { pathname } = Astro.url;

const multilingualRegions = new Set(['taiwan', 'hong-kong']);

function shouldShowMultilingual({ item, depth }: { item: MenuItem; depth: number }) {
	switch (item.collection) {
		case 'regions': {
			return item.titleMultilingual && depth > 1 && multilingualRegions.has(item.ancestor ?? '');
		}
		case 'series': {
			return !!item.titleMultilingual;
		}
		case 'themes': {
			return !!item.titleMultilingual;
		}
		default: {
			return false;
		}
	}
}
---

<ul
	class:list={[
		'nav-sub-menu',
		depth === 1 ? 'nav-sub-menu-d1' : undefined,
		depth === 2 ? 'nav-sub-menu-d2' : undefined,
		depth > 2 ? 'nav-sub-menu-d3' : undefined,
		depth > 1 && !isFirstMenuItem ? 'sm:rounded-tr-md' : undefined,
	]}
	aria-label={ariaLabel}
	{...props}
>
	{
		menuItems.map((item, index) => {
			const showMultilingual = shouldShowMultilingual({ item, depth });

			return (
				<li class="nav-sub-item">
					<div class="nav-sub-trigger">
						<Link
							class:list={[
								'nav-sub-link',
								isActiveMenuItem(item, pathname) ? 'nav-active' : undefined,
							]}
							href={item.url}
							linkColor="accent"
							{...(item.rel ? { rel: item.rel } : undefined)}
						>
							<Fragment set:html={item.title} />
							{showMultilingual ? (
								<TextMultilingual
									class="nav-ml"
									content={item.titleMultilingual}
									parenthesis={true}
								/>
							) : undefined}
						</Link>
						{item.children && item.children.length > 0 ? (
							<svg
								class="nav-sub-icon"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								aria-hidden="true"
							>
								<use href="#icon:chevron-right" />
							</svg>
						) : undefined}
					</div>
					{item.children && item.children.length > 0 ? (
						<Astro.self
							menuItems={item.children}
							depth={depth + 1}
							isFirstMenuItem={isFirstMenuItem && index === 0}
							ariaLabel={getMenuItemAriaLabel(item)}
						/>
					) : undefined}
				</li>
			);
		})
	}
</ul>
