---
import type { HTMLAttributes } from 'astro/types';

import { Image } from '@unpic/astro';

import ImagePlaceholder from '#components/image/image-placeholder.astro';
import ProseDescription from '#components/parts/prose-description.astro';
import { TAILWIND_BREAKPOINT_SM } from '#constants.ts';
import { getImageByIdFunction } from '#lib/collections/images/utils.ts';
import { getIpxImageProps } from '#lib/image/image-server.ts';
import { renderSlot } from '#lib/utils/astro.ts';
import { sanitizeAltAttribute } from '#lib/utils/text.ts';

interface Props extends HTMLAttributes<'div'> {
	imageId?: string | undefined;
	isImageSquare?: boolean;
	linkUrl: string;
	alt: string;
}

const { imageId, isImageSquare, linkUrl, alt, ...props } = Astro.props;

async function getImageProps() {
	const getImageById = await getImageByIdFunction();

	const imageEntry = getImageById(imageId);

	if (!imageId || !imageEntry)
		return { imageEntry: undefined, imageProps: undefined, placeholder: undefined };

	const primaryWidth = 450;
	const aspectRatio = imageEntry.data.width / imageEntry.data.height;

	const ipxImageProps = getIpxImageProps({
		maxWidth: imageEntry.data.width,
		widths: [450, 600, 900, 1200],
	});

	return {
		imageProps: {
			src: imageId,
			width: primaryWidth,
			height: Math.round(primaryWidth / aspectRatio),
			sizes: `(max-width: ${TAILWIND_BREAKPOINT_SM}) 100vw, 450px`,
			loading: 'lazy' as const,
			alt: sanitizeAltAttribute(alt),
			layout: 'constrained' as const,
			...ipxImageProps,
		},
		placeholder: imageEntry.data.placeholder,
	};
}

const { imageProps, placeholder } = await getImageProps();

const titleMultilingual = await renderSlot(Astro.slots, 'preview-title-multilingual');
const subtitle = await renderSlot(Astro.slots, 'preview-subtitle');
const description = await renderSlot(Astro.slots, 'preview-description');
---

<div
	class:list={[
		'rounded-md border p-2 shadow-inner',
		'border-primary-300 bg-primary-200 dark:border-primary-700 dark:bg-primary-900 shadow-primary-300 dark:shadow-primary-900 shadow-sm',
	]}
	{...props}
>
	{
		imageProps ? (
			<ImagePlaceholder class="overflow-hidden rounded-xs shadow-sm" placeholder={placeholder}>
				<a href={linkUrl}>
					<Image
						class:list={[
							'w-full text-sm text-transparent',
							isImageSquare ? 'aspect-square' : 'aspect-3/2',
						]}
						{...imageProps}
					/>
				</a>
			</ImagePlaceholder>
		) : (
			<div
				class:list={['bg-fallback', 'w-full rounded-xs text-sm text-transparent shadow-inner']}
				style={{ aspectRatio: isImageSquare ? '1/1' : '3/2' }}
			/>
		)
	}
	<h2 class="mt-1 flex flex-wrap gap-x-1 text-xl">
		<a
			href={linkUrl}
			class:list={[
				'font-display font-bold transition-colors ease-in',
				'text-primary-700 hover:text-accent-500 dark:text-primary-300 dark:hover:text-accent-400',
			]}
		>
			<slot name="preview-title" />
		</a>
		{
			titleMultilingual ? (
				<div class:list={['inline-flex font-semibold', 'text-primary-500 dark:text-primary-400']}>
					<span class="font-light">(</span>
					<Fragment set:html={titleMultilingual} />
					<span class="font-light">)</span>
				</div>
			) : undefined
		}
	</h2>
	{
		subtitle ? (
			<div
				class:list={['mt-1 flex flex-wrap gap-1 text-sm', 'text-primary-500 dark:text-primary-400']}
			>
				<Fragment set:html={subtitle} />
			</div>
		) : undefined
	}
	{
		description ? (
			<ProseDescription class="mt-1" showCompact={true}>
				<Fragment set:html={description} />
			</ProseDescription>
		) : undefined
	}
</div>
