---
import { Image } from 'astro:assets';

import type { HTMLAttributes } from 'astro/types';
import type { RemoteImageProps } from 'astro:assets';

import { IMAGE_FORMAT, IMAGE_QUALITY } from '@/constants';
import { getImageById } from '@/lib/collections/images/utils';
import { getImageSrcsetWidths } from '@/lib/image/image-layout';
import { getImagePlaceholderProps } from '@/lib/image/image-placeholder';
import { sanitizeAltAttribute } from '@/lib/utils/text';

interface Props extends HTMLAttributes<'div'> {
	imageId?: string | undefined;
	isImageSquare?: boolean;
	linkUrl: string;
	alt: string;
}

const { imageId, isImageSquare, linkUrl, alt, ...props } = Astro.props;

const image = imageId ? await getImageById(imageId) : undefined;

// Dimensions chosen for a two-column grid
const imageProps = image
	? ({
			src: image.data.src,
			width: 450,
			height: 300,
			alt: sanitizeAltAttribute(alt),
			widths: getImageSrcsetWidths({
				maxWidth: image.data.width,
				widths: [450, 600, 900, 1200],
			}),
			sizes: `(max-width: var(--breakpoint-lg)) 100vw, 450px`,
			format: IMAGE_FORMAT,
			quality: IMAGE_QUALITY,
			...getImagePlaceholderProps(image.data.placeholder),
		} satisfies RemoteImageProps)
	: undefined;

const titleAlt = await Astro.slots.render('preview-title-alt');
const subtitle = await Astro.slots.render('preview-subtitle');
const description = await Astro.slots.render('preview-description');
---

<div
	class:list={['rounded-md border p-2 shadow-inner', 'border-primary-300 bg-primary-200']}
	{...props}
>
	{
		imageProps ? (
			<a href={linkUrl}>
				<Image
					class:list={[
						'bg-fallback',
						'w-full rounded-xs object-cover object-center text-sm text-transparent',
						isImageSquare ? 'aspect-square' : 'aspect-[3/2]',
					]}
					loading="lazy"
					{...imageProps}
				/>
			</a>
		) : (
			<div
				class:list={[
					'bg-fallback',
					'w-full rounded-xs text-sm text-transparent shadow-inner',
					isImageSquare ? 'aspect-square' : 'aspect-[3/2]',
				]}
			/>
		)
	}
	<h2 class="mt-1 flex flex-wrap gap-x-1 text-xl">
		<a
			href={linkUrl}
			class:list={[
				'font-display font-bold transition-colors ease-in',
				'text-primary-700 hover:text-accent-500',
			]}
		>
			<slot name="preview-title" />
		</a>
		{
			titleAlt ? (
				<div class:list={['inline-flex font-semibold', 'text-primary-400']}>
					<span class="font-light">(</span>
					<Fragment set:html={titleAlt} />
					<span class="font-light">)</span>
				</div>
			) : undefined
		}
	</h2>
	{
		subtitle ? (
			<div class:list={['mt-1 flex flex-wrap gap-1 text-sm font-medium', 'text-primary-500']}>
				<Fragment set:html={subtitle} />
			</div>
		) : undefined
	}
	{
		description ? (
			<div class="prose prose-sm dark:prose-invert">
				<Fragment set:html={description} />
			</div>
		) : undefined
	}
</div>
