---
import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import FormatCjk from '#components/format/format-cjk.astro';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/utils/i18n.ts';

type Props = ContentMetadataItem;

const { title, titleAlt, url } = Astro.props;

const t = getTranslations();

// Note: captions are relative to the full-width image, not including a scrollbar
---

{
	title ? (
		<div
			class:list={[
				'sm:min-h-none max-w-content pointer-events-none absolute right-0 bottom-0 left-0 z-[31] mx-auto flex min-h-[80px] flex-col justify-end sm:bg-none',
				'bg-featured-b',
			]}
			data-pagefind-ignore
		>
			<div
				class:list={[
					'pr-small md:pr-medium pointer-events-auto ml-auto flex flex-nowrap items-end justify-end gap-1 pb-2 text-sm sm:max-w-[70%]',
					'text-primary-300',
				]}
			>
				<span>{t('content.meta.imageFeatured.label')}</span>
				{url ? (
					<Link
						href={url}
						linkColor="primary-bright"
						darkMode={false}
						class="max-w-[75vw] truncate font-medium sm:max-w-[60vw] sm:font-semibold"
					>
						{title}
					</Link>
				) : (
					<span>{title}</span>
				)}
				{titleAlt ? (
					<span class="hidden sm:block">
						<FormatCjk>{`(${titleAlt})`}</FormatCjk>
					</span>
				) : undefined}
			</div>
		</div>
	) : undefined
}
