---
import type { ContentMetadataItem } from '#types/metadata.ts';

import FormatMarkdown from '#components/format/format-markdown.astro';
import DateDisplay from '#components/parts/date-display.astro';
import Link from '#components/parts/link.astro';
import ProseDescription from '#components/parts/prose-description.astro';

interface Props {
	timelineItems: Array<ContentMetadataItem>;
}

const { timelineItems } = Astro.props;
---

<ul class="mb-small">
	{
		timelineItems.map(({ title, url, date, description }) => (
			<li class="mb-small">
				<h2 class="font-medium">
					<Link href={url}>{title}</Link>
				</h2>
				<div class="text-xs sm:text-sm">
					<DateDisplay date={date} />
				</div>
				{description ? (
					<ProseDescription class="mt-2" showCompact={true}>
						<FormatMarkdown>{description}</FormatMarkdown>
					</ProseDescription>
				) : undefined}
			</li>
		))
	}
</ul>
