---
import type { ContentMetadataItem } from '#lib/types/index.ts';

import Link from '#components/parts/link.astro';
import Multilingual from '#components/parts/multilingual.astro';
import ProseBody from '#components/parts/prose-body.astro';
import TextSeparated from '#components/parts/text-separated.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	title: string;
	items: Array<ContentMetadataItem>;
	count?: number | undefined;
	countThreshold?: number | undefined;
	class?: string | undefined;
}

const { title, items, count, countThreshold = 10, class: className, ...props } = Astro.props;

const showCount = count ? Math.abs(items.length - count) > countThreshold : false;

const numberFormatter = Intl.NumberFormat('en', { maximumFractionDigits: 0 });

const countText =
	showCount && count
		? { title: `${numberFormatter.format(count - items.length)} more`, url: undefined }
		: undefined;
---

{
	items.length > 0 ? (
		<ProseBody class={className} {...props}>
			<span class="font-medium">{title}</span>:
			{countText
				? [...items, countText].map((item, index) => (
						<TextSeparated index={index} total={items.length + 1}>
							{item.url ? (
								<>
									<Link href={getSiteUrl(item.url)}>{item.title}</Link>
									{item.titleMultilingual ? (
										<>
											{' '}
											<Multilingual content={item.titleMultilingual} parenthesis={true} />
										</>
									) : undefined}
								</>
							) : (
								item.title
							)}
						</TextSeparated>
					))
				: items.map((item, index) => (
						<TextSeparated index={index} total={items.length}>
							<Link href={getSiteUrl(item.url)}>{item.title}</Link>
							{item.titleMultilingual ? (
								<>
									{' '}
									<Multilingual content={item.titleMultilingual} parenthesis={true} />
								</>
							) : undefined}
						</TextSeparated>
					))}
		</ProseBody>
	) : undefined
}
