---
import type { HTMLAttributes } from 'astro/types';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props extends HTMLAttributes<'div'> {
	class?: string | undefined;
	currentYear?: string | undefined;
	currentMonth?: string | undefined;
	timelineYears: Array<string>;
	timelineMonths?: Array<string> | undefined;
	hasHeroImage?: boolean | undefined;
}

const {
	class: className,
	currentYear,
	currentMonth,
	timelineYears,
	timelineMonths,
	hasHeroImage = false,
	...props
} = Astro.props;
---

{
	timelineYears.length > 0 ? (
		<div
			class:list={[
				'text-primary-500 dark:text-primary-400 flex flex-col gap-1 overflow-hidden text-sm',
				hasHeroImage ? 'mb-medium sm:mb-0' : '',
				className,
			]}
			{...props}
		>
			<div
				class:list={[
					'flex gap-1',
					hasHeroImage ? 'flex-wrap sm:flex-nowrap sm:overflow-x-scroll' : 'flex-wrap',
				]}
			>
				{timelineYears.map((timelineYear) => (
					<DividedItem hasHeroImage={hasHeroImage}>
						{!currentMonth && currentYear === timelineYear ? (
							<span
								class:list={[
									'text-primary-600 dark:text-primary-400 font-semibold',
									hasHeroImage ? 'sm:text-accent-200' : '',
								]}
							>
								{timelineYear}
							</span>
						) : (
							<Link
								class={currentMonth && currentYear === timelineYear ? 'font-semibold' : undefined}
								href={getSiteUrl('timeline', timelineYear)}
								linkColor={hasHeroImage ? 'accent-featured' : 'accent'}
							>
								{timelineYear}
							</Link>
						)}
					</DividedItem>
				))}
			</div>
			{currentYear && currentMonth && timelineMonths && timelineMonths.length > 0 ? (
				<div
					class:list={[
						'flex gap-1',
						hasHeroImage ? 'flex-wrap sm:flex-nowrap sm:overflow-x-scroll' : 'flex-wrap',
					]}
				>
					{timelineMonths
						.sort((monthA, monthB) => monthA.localeCompare(monthB))
						.map((monthNumber) => {
							const monthName = new Date(0, Number(monthNumber) - 1).toLocaleDateString('default', {
								month: 'long',
							});

							return (
								<DividedItem hasHeroImage={hasHeroImage}>
									{currentMonth === monthNumber ? (
										<span
											class:list={[
												'text-highlight-600 font-semibold',
												hasHeroImage ? 'sm:text-highlight-200' : '',
											]}
										>
											{monthName}
										</span>
									) : (
										<Link
											href={getSiteUrl('timeline', currentYear, monthNumber)}
											linkColor={hasHeroImage ? 'highlight-featured' : 'highlight'}
										>
											{monthName}
										</Link>
									)}
								</DividedItem>
							);
						})}
				</div>
			) : undefined}
		</div>
	) : undefined
}
