---
import type { HTMLAttributes } from 'astro/types';

import { pagefindResultTemplate } from '#components/search/search-result-template.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import pagefindCssUrl from '#styles/pagefind-component.css?url';

type Props = HTMLAttributes<'div'>;

const props = Astro.props;

const bundlePath = `${import.meta.env.BASE_URL}pagefind/`;

const t = getTranslations();

/** Note: the styles at the bottom apply before web component JS loads */
---

<script>
	import '#components/search/search-toggle.ts';

	// Clear pagefind modal component state before swap
	document.addEventListener('astro:before-swap', () => {
		const modal = document.querySelector('pagefind-modal') as
			| (Element & {
					instance?: { components: unknown[]; componentsByType: Record<string, unknown[]> };
			  })
			| null;
		const instance = modal?.instance;

		if (instance) {
			instance.components = [];
			instance.componentsByType = {};
		}
	});
</script>

<link rel="stylesheet" href={pagefindCssUrl} />

<pagefind-config bundle-path={bundlePath} preload={true}></pagefind-config>

<search-toggle
	class:list={[
		'flex cursor-pointer items-center justify-center rounded-full opacity-60 transition-opacity hover:opacity-100',
	]}
	{...props}
>
	<button
		class="text-primary-700 dark:text-primary-300"
		aria-label={t('site.search.toggle.label')}
		title={t('site.search.toggle.title')}
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			aria-hidden="true"
			><g
				fill="none"
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				><circle cx="11" cy="11" r="8"></circle><path d="m21 21l-4.35-4.35"></path></g
			></svg
		>
	</button>
</search-toggle>
<pagefind-modal reset-on-close={true}>
	<pagefind-modal-header>
		<pagefind-input placeholder={t('site.search.placeholder')}></pagefind-input>
	</pagefind-modal-header>
	<pagefind-modal-body>
		<pagefind-summary></pagefind-summary>
		<pagefind-results max-sub-results="3" show-images={true} set:html={pagefindResultTemplate} />
	</pagefind-modal-body>
	<pagefind-modal-footer>
		<pagefind-keyboard-hints></pagefind-keyboard-hints>
	</pagefind-modal-footer>
</pagefind-modal>

<style>
	search-toggle:not(:defined),
	pagefind-modal:not(:defined) {
		display: none;
	}
</style>
