---
import type { CollectionEntry } from 'astro:content';

import * as R from 'remeda';

import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getFirstRegionByReferenceFunction } from '#lib/collections/regions/regions-utils.ts';
import { getPrimaryMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getContentUrl, getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	locations: Array<CollectionEntry<'locations'>>;
}

const { locations } = Astro.props;

const getFirstRegionByReference = await getFirstRegionByReferenceFunction();

const columns = {
	title: 'Title',
	region: 'Region',
	status: 'Status',
	precision: 'P',
} as const;
---

{
	locations.length > 0 ? (
		<div class="not-prose">
			<div
				class:list={[
					'overflow-hidden rounded-md border',
					'border-primary-300 dark:border-primary-600',
				]}
			>
				<table class:list={['min-w-full table-auto', 'bg-primary-50 dark:bg-primary-900']}>
					<thead>
						<tr>
							{R.entries(columns).map(([id, title], index) => (
								<th
									id={`column-${id}`}
									class:list={[
										'border-b px-2 py-1 text-left align-text-top font-display text-sm font-medium uppercase',
										'bg-primary-100 dark:bg-primary-600',
										index === 0 ? 'rounded-tl-lg' : undefined,
										index === Object.keys(columns).length - 1 ? 'rounded-tr-lg' : undefined,
									]}
									scope="col"
								>
									{title}
								</th>
							))}
						</tr>
					</thead>
					<tbody class:list={['divide-y', 'divide-primary-200 dark:divide-primary-700']}>
						{locations.map((item) => {
							const region = getFirstRegionByReference(
								item.data.override?.regions ?? item.data.regions,
							);
							const titleMultilingual = getPrimaryMultilingualContent(item.data, 'title');

							return (
								<tr class="font-sans text-sm">
									<td class="w-full px-2 py-1 align-text-top">
										<div class="flex flex-wrap items-center gap-1">
											<Link href={getSiteUrl(item.id)}>{item.data.title}</Link>
											{titleMultilingual ? (
												<TextMultilingual content={titleMultilingual} parenthesis={true} />
											) : undefined}
										</div>
									</td>
									<td class="px-2 py-1 align-text-top text-nowrap">
										{region ? (
											<Link href={getContentUrl('regions', region.id)}>{region.data.title}</Link>
										) : (
											'unknown'
										)}
									</td>
									<td class="px-2 py-1 align-text-top">{item.data.status}</td>
									<td class="px-2 py-1 text-right align-text-top">{item.data.precision}</td>
								</tr>
							);
						})}
					</tbody>
				</table>
			</div>
		</div>
	) : undefined
}
