---
import type { HTMLAttributes } from 'astro/types';

import type { ImageComponentProps, ImagePlaceholderProps } from '#lib/image/image-types.ts';

import ImagePlaceholder from '#components/image/image-placeholder.astro';
import CardFrame from '#components/parts/card-frame.astro';
import Image from '#components/parts/image.astro';
import ProseDescription from '#components/parts/prose-description.astro';
import { TAILWIND_BREAKPOINT_SM } from '#constants.ts';
import { getImageByIdFunction } from '#lib/collections/images/images-utils.ts';
import { getImageBreakpoints } from '#lib/image/image-layout.ts';
import { ImageFitOptionEnum } from '#lib/image/image-types.ts';
import { ImageSizeEnum } from '#lib/image/image-types.ts';
import { renderSlot } from '#lib/utils/astro.ts';
import { sanitizeAltAttribute } from '#lib/utils/text.ts';

interface Props extends HTMLAttributes<'div'> {
	imageId?: string | undefined;
	linkUrl: string;
	alt: string;
}

const { imageId, linkUrl, alt, ...props } = Astro.props;

async function getImageProps(): Promise<{
	imageProps: ImageComponentProps | undefined;
	placeholderProps: ImagePlaceholderProps | undefined;
}> {
	const getImageById = await getImageByIdFunction();

	const imageEntry = getImageById(imageId);

	if (!imageId || !imageEntry) return { imageProps: undefined, placeholderProps: undefined };

	const aspectRatio = 3 / 2;
	const fit = ImageFitOptionEnum.Cover;

	return {
		imageProps: {
			src: imageId,
			breakpoints: getImageBreakpoints({
				maxWidth: imageEntry.data.width,
				widths: [
					ImageSizeEnum.ExtraSmall,
					ImageSizeEnum.Small,
					ImageSizeEnum.Medium,
					ImageSizeEnum.Large,
				],
			}),
			sizes: `(max-width: ${TAILWIND_BREAKPOINT_SM}) 100vw, 425px`,
			width: ImageSizeEnum.Medium,
			height: Math.round(ImageSizeEnum.Medium / aspectRatio),
			alt: sanitizeAltAttribute(alt),
			unstyled: true,
			operations: { fit },
		} satisfies ImageComponentProps,
		placeholderProps: {
			imageId,
			aspectRatio,
			fit,
		},
	};
}

const { imageProps, placeholderProps } = await getImageProps();

const titleMultilingual = await renderSlot(Astro.slots, 'grid-item-title-multilingual');
const subtitle = await renderSlot(Astro.slots, 'grid-item-subtitle');
const description = await renderSlot(Astro.slots, 'grid-item-description');
---

<CardFrame {...props}>
	{
		imageProps ? (
			<ImagePlaceholder
				class="overflow-hidden rounded-xs shadow-sm"
				placeholderProps={placeholderProps}
			>
				<a href={linkUrl}>
					<Image class="aspect-3/2 text-sm text-transparent" {...imageProps} />
				</a>
			</ImagePlaceholder>
		) : (
			<div class="aspect-3/2 w-full rounded-xs bg-fallback text-sm text-transparent shadow-inner" />
		)
	}
	<h2 class="mt-1 flex flex-wrap gap-x-1 text-xl">
		<a
			href={linkUrl}
			class:list={[
				'font-display font-bold transition-colors ease-in',
				'text-primary-700 hover:text-accent-500 dark:text-primary-300 dark:hover:text-accent-400',
			]}
		>
			<slot name="grid-item-title" />
		</a>
		{
			titleMultilingual ? (
				<div class:list={['inline-flex font-semibold', 'text-primary-500 dark:text-primary-400']}>
					<span class="font-light">(</span>
					<Fragment set:html={titleMultilingual} />
					<span class="font-light">)</span>
				</div>
			) : undefined
		}
	</h2>
	{
		subtitle ? (
			<div
				class:list={['mt-1 flex flex-wrap gap-1 text-sm', 'text-primary-500 dark:text-primary-400']}
			>
				<Fragment set:html={subtitle} />
			</div>
		) : undefined
	}
	{
		description ? (
			<ProseDescription class="mt-1" showCompact={true}>
				<Fragment set:html={description} />
			</ProseDescription>
		) : undefined
	}
</CardFrame>
