---
import type { Page } from 'astro';
import type { HTMLAttributes } from 'astro/types';

import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { joinUrl } from '#lib/utils/routing.ts';
import { formatStringTemplate } from '#lib/utils/text.ts';

interface Props extends HTMLAttributes<'nav'> {
	page: Page;
}

const { class: className, page, ...props } = Astro.props;

const { currentPage, lastPage, url } = page;

// Root-relative base path for client-side, same-origin navigation
const pageBasePath = joinUrl(url.current.replace(new RegExp(`/${String(currentPage)}$`), ''), '/');
const pagePrevLink = url.prev ?? undefined;
const pageNextLink = url.next ?? undefined;

const t = getTranslations();
---

{
	lastPage > 1 ? (
		<pagination-select
			data-page-label={t('site.pagination.pageNumber.label')}
			data-current-page={String(currentPage)}
			data-last-page={String(lastPage)}
			data-base-path={pageBasePath}
		>
			<nav
				class:list={[
					'p-nav flex items-center justify-between gap-4 text-base font-medium tabular-nums select-none md:text-sm',
					className,
				]}
				aria-label={t('site.pagination.label')}
				{...props}
			>
				<div class="p-pages flex items-center">
					<span
						class="text-primary-500 dark:text-primary-600"
						data-pagination-counter
						set:html={formatStringTemplate(t('site.pagination.counter.label'), {
							current: currentPage,
							total: lastPage,
						})}
					/>
					<form class="relative flex items-center" hidden={true} data-pagination-form>
						<span class="relative inline-flex items-center">
							<select
								class="p-control rounded-sm border border-primary-300 bg-transparent py-2 pr-6 pl-2 tabular-nums transition-colors ease-linear hover:border-primary-400 focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-accent-500 md:py-1 dark:border-primary-600 dark:bg-primary-900 dark:hover:border-primary-500"
								aria-label={t('site.pagination.select.label')}
								data-pagination-control
							/>
							<span
								class="p-arrow pointer-events-none absolute flex items-center text-accent-400 dark:text-accent-400"
								aria-hidden="true"
							>
								<svg height="16" width="16" viewBox="0 0 24 24">
									<use href="#icon:chevron-down" />
								</svg>
							</span>
						</span>
						<button
							class="p-button absolute ml-2 cursor-pointer rounded px-2 py-2 font-medium text-accent-500 hover:text-accent-300 focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-accent-500 md:py-1 dark:text-accent-400 dark:hover:text-accent-300"
							type="submit"
							data-pagination-submit
						>
							{t('site.pagination.select.submit')}
						</button>
					</form>
				</div>
				<div class="p-steps flex items-center gap-6">
					{pagePrevLink ? (
						<span class="p-prev flex flex-wrap gap-1">
							<span class="text-accent-300 select-none dark:text-accent-400">&lsaquo;</span>
							<Link href={pagePrevLink} aria-label={t('pagination.previous')}>
								{t('pagination.previous')}
							</Link>
						</span>
					) : undefined}
					{pageNextLink ? (
						<span class="p-next flex flex-wrap gap-1">
							<Link href={pageNextLink} aria-label={t('pagination.next')}>
								{t('pagination.next')}
							</Link>
							<span class="text-accent-300 select-none dark:text-accent-400">&rsaquo;</span>
						</span>
					) : undefined}
				</div>
			</nav>
		</pagination-select>
	) : undefined
}

<script>
	import '#components/parts/pagination-select.ts';
</script>
