---
import type { HTMLAttributes } from 'astro/types';

import type { ImageComponentProps, ImagePlaceholderProps } from '#lib/image/image-types.ts';

import ImagePlaceholder from '#components/image/image-placeholder.astro';
import CardFrame from '#components/parts/card-frame.astro';
import Image from '#components/parts/image.astro';
import Prose from '#components/parts/prose.astro';
import { IMAGE_LQ_FORMAT, IMAGE_LQ_QUALITY, TAILWIND_BREAKPOINT_SM } from '#constants.ts';
import { getImageByIdFunction } from '#lib/collections/images/images-utils.ts';
import { getImageBreakpoints } from '#lib/image/image-layout.ts';
import { ImageFitOptionEnum } from '#lib/image/image-types.ts';
import { ImageSizeEnum } from '#lib/image/image-types.ts';
import { renderSlot } from '#lib/utils/astro.ts';
import { sanitizeImageAltAttribute } from '#lib/utils/text.ts';

interface Props extends HTMLAttributes<'div'> {
	imageId?: string | undefined;
	linkUrl: string;
	alt: string;
	titleAs?: 'h2' | 'h3' | undefined;
}

const { imageId, linkUrl, alt, titleAs, ...props } = Astro.props;

const TitleTag = titleAs ?? 'h3';

async function getImageProps(): Promise<{
	imageProps: ImageComponentProps | undefined;
	placeholderProps: ImagePlaceholderProps | undefined;
}> {
	const getImageById = await getImageByIdFunction();

	const imageEntry = getImageById(imageId);

	if (!imageId || !imageEntry) return { imageProps: undefined, placeholderProps: undefined };

	const aspectRatio = 3 / 2;
	const fit = ImageFitOptionEnum.Cover;

	return {
		imageProps: {
			src: imageId,
			breakpoints: getImageBreakpoints({
				maxWidth: imageEntry.data.width,
				widths: [
					ImageSizeEnum.ExtraSmall,
					ImageSizeEnum.Small,
					ImageSizeEnum.Medium,
					ImageSizeEnum.Large,
				],
			}),
			sizes: `auto, (max-width: ${TAILWIND_BREAKPOINT_SM}) 100vw, 425px`,
			width: ImageSizeEnum.Medium,
			height: Math.round(ImageSizeEnum.Medium / aspectRatio),
			alt: sanitizeImageAltAttribute(alt),
			unstyled: true,
			operations: { fit },
			imageQuality: IMAGE_LQ_QUALITY,
			imageFormat: IMAGE_LQ_FORMAT,
		} satisfies ImageComponentProps,
		placeholderProps: {
			imageId,
			aspectRatio,
			fit,
		},
	};
}

const { imageProps, placeholderProps } = await getImageProps();

const titleMultilingual = await renderSlot(Astro.slots, 'preview-title-multilingual');
const subtitle = await renderSlot(Astro.slots, 'preview-subtitle');
const description = await renderSlot(Astro.slots, 'preview-description');
---

<CardFrame class="pc" {...props}>
	{
		imageProps ? (
			<ImagePlaceholder placeholderProps={placeholderProps}>
				<a href={linkUrl}>
					<Image {...imageProps} />
				</a>
			</ImagePlaceholder>
		) : (
			<div class="bg-fallback aspect-3/2 w-full rounded-xs text-sm text-transparent shadow-inner" />
		)
	}
	<TitleTag class="pc-title">
		<a href={linkUrl} class="link pc-title-link"><slot name="preview-title" /></a>
		{
			titleMultilingual ? (
				<div class="pc-title-ml">
					<span class="font-light">(</span>
					<Fragment set:html={titleMultilingual} />
					<span class="font-light">)</span>
				</div>
			) : undefined
		}
	</TitleTag>
	{
		subtitle ? (
			<div class="pc-subtitle">
				<Fragment set:html={subtitle} />
			</div>
		) : undefined
	}
	{
		description ? (
			<Prose class="mt-1" showCompact={true}>
				<Fragment set:html={description} />
			</Prose>
		) : undefined
	}
</CardFrame>
