---
import type { ImageFeaturedWithCaption } from '#lib/metadata/metadata-types.ts';

import ImageCarouselNavigation from '#components/image/image-carousel-navigation.astro';
import ImageHeroCarouselItem from '#components/image/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image/image-hero-frame.astro';

interface Props {
	hasHeroImage: boolean;
	imageFeaturedGroup?: Array<ImageFeaturedWithCaption> | undefined;
	withTitle?: boolean | undefined;
	class?: string | undefined;
}

const { hasHeroImage, imageFeaturedGroup, withTitle = true, class: className } = Astro.props;

const carouselId = 'hero-carousel';
---

{
	hasHeroImage && imageFeaturedGroup && imageFeaturedGroup.length > 0 ? (
		<ImageHeroFrame
			class:list={['group', className]}
			withTitle={withTitle}
			data-carousel-id={carouselId}
		>
			<div class="carousel-container">
				{imageFeaturedGroup.map((imageFeaturedGroupItem, index) => (
					<ImageHeroCarouselItem {...imageFeaturedGroupItem} index={index} withTitle={withTitle} />
				))}
			</div>
			{imageFeaturedGroup.length > 1 && <ImageCarouselNavigation carouselId={carouselId} />}
			<slot />
		</ImageHeroFrame>
	) : (
		<slot />
	)
}
