---
import type { ImageFeaturedCaptionMetadata } from '#lib/image/image-featured.ts';

import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

interface Props {
	captionMetadata: ImageFeaturedCaptionMetadata;
	isHero?: boolean | undefined;
	withTitle?: boolean | undefined;
}

const {
	captionMetadata: { title, titleMultilingual, url },
	isHero = false,
	withTitle = false,
	...props
} = Astro.props;

const t = getTranslations();

// Note: captions are relative to the full-width image, not including a scrollbar
// TODO: allow caption to be positioned at the top of the image?
---

{
	title ? (
		<div
			class:list={[
				'bg-featured-b',
				'sm:min-h-none pointer-events-none absolute right-0 bottom-0 left-0 z-31 mx-auto flex max-w-content flex-col justify-end',
				// Note: the min-height spreads the background gradient
				isHero ? 'min-h-[80px] sm:bg-none' : 'min-h-[50px]',
			]}
			data-pagefind-ignore
			{...props}
		>
			<div
				class:list={[
					'text-primary-300',
					'pointer-events-auto ml-auto flex flex-nowrap items-end justify-end gap-1 pb-2 text-sm',
					isHero && !withTitle ? 'md:px-medium' : undefined,
					withTitle
						? 'w-full px-small sm:max-w-[70%] sm:pr-small sm:pl-0 md:pr-medium'
						: 'px-small',
				]}
			>
				<span class:list={[withTitle ? 'block sm:hidden md:block' : 'hidden sm:block']}>
					{t('content.meta.imageFeatured.label')}
				</span>
				{url ? (
					<Link
						href={url}
						linkColor="primary-bright"
						showDarkMode={false}
						class:list={[
							'truncate font-medium sm:font-semibold',
							withTitle ? 'max-w-[75vw] sm:max-w-[60vw]' : undefined,
						]}
					>
						{title}
					</Link>
				) : (
					<span>{title}</span>
				)}
				{titleMultilingual ? (
					<TextMultilingual
						content={titleMultilingual}
						class:list={[withTitle ? 'block sm:hidden md:block' : undefined]}
						parenthesis={true}
					/>
				) : undefined}
			</div>
		</div>
	) : undefined
}
