---
import type { HTMLAttributes } from 'astro/types';

import type { ImageFeaturedWithCaption } from '#lib/metadata/metadata-types.ts';

import ImageCarouselNavigation from '#components/image/image-carousel-navigation.astro';
import ImageHeroCarouselItem from '#components/image/image-hero-carousel-item.astro';
import { zIndexScaleEnum } from '#lib/utils/z-index.ts';

interface Props extends HTMLAttributes<'div'> {
	imageFeaturedGroup?: Array<ImageFeaturedWithCaption> | undefined;
	fallbackAlt?: string | undefined;
	withTitle?: boolean | undefined;
	class?: string | undefined;
}

const {
	imageFeaturedGroup,
	fallbackAlt,
	withTitle = true,
	class: className,
	...props
} = Astro.props;

const hasHeroImage = !!imageFeaturedGroup && imageFeaturedGroup.length > 0;
const hasHeroCarousel = !!imageFeaturedGroup && imageFeaturedGroup.length > 1;
---

{
	hasHeroImage ? (
		<div
			class:list={[
				'sm:relative',
				'dark:sm-bg-primary-300 sm:bg-primary-300',
				hasHeroCarousel ? 'carousel-group' : 'overflow-hidden',
				className,
			]}
			{...props}
		>
			<div
				class:list={[
					'pointer-events-none top-0 right-0 left-0 block h-0 w-full text-transparent select-none sm:absolute sm:h-[15vh] md:h-[20vh] lg:h-[25vh]',
					'sm:bg-gradient-a',
				]}
				style={{ zIndex: zIndexScaleEnum.ImageShadow }}
			/>
			{hasHeroCarousel ? (
				<image-carousel class="block">
					<div class="carousel-container">
						{imageFeaturedGroup.map((heroImage, index) => (
							<ImageHeroCarouselItem
								{...heroImage}
								class="carousel-item"
								index={index}
								fallbackAlt={fallbackAlt}
								withTitle={withTitle}
							/>
						))}
					</div>
					<ImageCarouselNavigation />
				</image-carousel>
			) : undefined}
			{!hasHeroCarousel && imageFeaturedGroup[0] ? (
				<ImageHeroCarouselItem
					{...imageFeaturedGroup[0]}
					index={0}
					fallbackAlt={fallbackAlt}
					withTitle={withTitle}
				/>
			) : undefined}
			<slot />
			<div
				class:list={[
					'pointer-events-none right-0 bottom-0 left-0 block h-0 w-full select-none sm:absolute',
					withTitle ? 'sm:min-h-[20vh] md:h-[25vh] lg:h-[30vh]' : 'sm:min-h-[50px]',
					'sm:bg-gradient-b',
				]}
				style={{ zIndex: zIndexScaleEnum.ImageShadow }}
			/>
		</div>
	) : (
		<slot />
	)
}
