---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';

import ImageMetadataItem from '#components/image/image-metadata-item.astro';
import DateDisplay from '#components/parts/date-display.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { DatePresetEnum } from '#lib/utils/date.ts';

interface Props extends HTMLAttributes<'div'> {
	entry: CollectionEntry<'images'>;
}

const { entry, ...props } = Astro.props;

const t = getTranslations();
---

<div class="i-meta" data-pagefind-ignore {...props}>
	<button class="i-meta-show" aria-label={t('collection.images.metadata.title')}>
		<span class="i-meta-show-icon">
			<svg width="24" height="24" viewBox="0 0 24 24" class="i-meta-svg" aria-hidden="true">
				<use href="#icon:eye-open"></use>
			</svg>
		</span>
		<span class="i-meta-panel">
			<span class="i-meta-grid">
				<ImageMetadataItem class="i-span-4">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.dateCreated.label')}
					</Fragment>
					{
						entry.data.dateCreated ? (
							<DateDisplay date={entry.data.dateCreated} datePreset={DatePresetEnum.Long} />
						) : undefined
					}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-4">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.cameraModel.label')}
					</Fragment>
					{entry.data.camera}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-4">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.lensModel.label')}
					</Fragment>
					{entry.data.lens}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.aperture.label')}
					</Fragment>
					{
						entry.data.aperture ? (
							<>
								<em>&#402;</em>&#8202;/&#8202;{entry.data.aperture}
							</>
						) : undefined
					}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.shutterSpeed.label')}
					</Fragment>
					{entry.data.shutterSpeed ? `${entry.data.shutterSpeed} sec` : undefined}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.focalLength.label')}
					</Fragment>
					{entry.data.focalLength}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.iso.label')}
					</Fragment>
					{entry.data.iso}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title">
						{t('collection.images.metadata.exposureValue.label')}
					</Fragment>
					{
						entry.data.exposureValue ? (
							<>
								{Number(entry.data.exposureValue).toFixed(1)}&nbsp;
								{t('collection.images.metadata.ev.label')}
							</>
						) : undefined
					}
				</ImageMetadataItem>
				<ImageMetadataItem class="i-span-2">
					<Fragment slot="image-metadata-item-title"
						>{t('collection.images.metadata.sourceDimensions.label')}</Fragment
					>
					<Fragment
						set:html={`${String(entry.data.width)}&#8202;&#215;&#8202;${String(entry.data.height)}`}
					/>
				</ImageMetadataItem>
			</span>
		</span>
	</button>
	<button class="i-meta-close" aria-label={t('collection.images.metadata.close.title')}
		><span class="i-meta-close-icon">
			<svg width="24" height="24" viewBox="0 0 24 24" class="i-meta-svg" aria-hidden="true">
				<use href="#icon:eye-closed"></use>
			</svg>
		</span></button
	>
</div>
