---
import type { ImageFeaturedCaptionMetadata } from '#lib/image/image-featured.ts';

import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

interface Props {
	captionMetadata: ImageFeaturedCaptionMetadata;
}

const {
	captionMetadata: { title, titleMultilingual, url },
	...props
} = Astro.props;

const t = getTranslations();

// Note: captions are relative to the full-width image, not including a scrollbar
// TODO: allow caption to be positioned at the top of the image?
---

{
	title ? (
		<div
			class:list={[
				'bg-featured-b',
				'sm:min-h-none pointer-events-none absolute right-0 bottom-0 left-0 z-31 mx-auto flex min-h-[80px] max-w-content flex-col justify-end sm:bg-none',
			]}
			data-pagefind-ignore
			{...props}
		>
			<div
				class:list={[
					'text-primary-300',
					'pointer-events-auto ml-auto flex flex-nowrap items-end justify-end gap-1 pr-small pb-2 text-sm sm:max-w-[70%] md:pr-medium',
				]}
			>
				<span>{t('content.meta.imageFeatured.label')}</span>
				{url ? (
					<Link
						href={url}
						linkColor="primary-bright"
						showDarkMode={false}
						class="max-w-[75vw] truncate font-medium sm:max-w-[60vw] sm:font-semibold"
					>
						{title}
					</Link>
				) : (
					<span>{title}</span>
				)}
				{titleMultilingual ? (
					<TextMultilingual
						content={titleMultilingual}
						class="hidden sm:block"
						parenthesis={true}
					/>
				) : undefined}
			</div>
		</div>
	) : undefined
}
