---
import type { ArchivesData } from '#lib/collections/archives/archives-types.ts';

import ArchivesItem from '#components/archives/archives-item.astro';
import ArchivesNavigation from '#components/archives/archives-navigation.astro';
import ContentHeader from '#components/content/content-header.astro';
import ImageCarousel from '#components/image/image-carousel.astro';
import MainSite from '#components/main/main-site.astro';
import Container from '#components/parts/container.astro';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getImageFeaturedGroupByContentMetadata } from '#lib/image/image-featured.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { getSeoHideSearch, getSeoImageProps } from '#lib/utils/seo.ts';

interface Props {
	archivesIndexData: ArchivesData['archivesIndexData'];
	archivesYears: Array<string>;
}

const { archivesIndexData, archivesYears } = Astro.props;

const t = getTranslations();

const title = t('archives.index.title');
---

<MainSite
	meta={{
		title,
		description: t('archives.index.description'),
		image: await getSeoImageProps({
			id: 'index-archives',
			alt: title,
		}),
		...getSeoHideSearch(true),
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{title}</Fragment>
		<Fragment slot="header-subtitle"><ArchivesNavigation archivesYears={archivesYears} /></Fragment>
	</ContentHeader>
	{
		Object.entries(archivesIndexData)
			.sort(([yearA], [yearB]) => yearB.localeCompare(yearA))
			.map(([year, monthlyData]) => {
				const imageFeaturedGroup = getImageFeaturedGroupByContentMetadata({
					items: monthlyData.highlights,
				});

				return (
					<Container class="mb-medium" fillViewport={true}>
						<div class="flex flex-col gap-2 px-small text-sm text-primary-700 sm:px-0 dark:text-primary-400">
							<h2 class="border-b border-primary-200 pb-1 text-sm font-semibold uppercase dark:border-primary-700">
								<Link href={getSiteUrl('archives', year)} linkColor="primary">
									{year}
								</Link>
							</h2>
							<div class="flex flex-col gap-2">
								<ArchivesItem
									title={t('archives.updated.label')}
									items={monthlyData.updated}
									count={monthlyData.updatedCount}
								/>
								<ArchivesItem
									title={t('archives.created.label')}
									items={monthlyData.created}
									count={monthlyData.createdCount}
								/>
								<ArchivesItem
									title={t('archives.visited.label')}
									items={monthlyData.visited}
									count={monthlyData.visitedCount}
								/>
							</div>
						</div>
						{imageFeaturedGroup && imageFeaturedGroup.length > 0 ? (
							<ImageCarousel class="mt-small" imageFeaturedGroup={imageFeaturedGroup} />
						) : undefined}
					</Container>
				);
			})
	}
</MainSite>
