---
import type { RemoteImageProps } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { Image } from 'astro:assets';

import ContentDate from '#components/content/content-date.astro';
import ContentHeader from '#components/content/content-header.astro';
import ContentSection from '#components/content/content-section.astro';
import MainSite from '#components/main/main-site.astro';
import Container from '#components/parts/container.astro';
import DateDisplay from '#components/parts/date-display.astro';
import DividedItem from '#components/parts/divided-item.astro';
import ImagePlaceholder from '#components/parts/image-placeholder.astro';
import TextGridItem from '#components/parts/text-grid-item.astro';
import { IMAGE_FORMAT, IMAGE_QUALITY } from '#constants.ts';
import { getImageLayoutProps } from '#lib/image/image-layout.ts';
import { getTranslations } from '#lib/utils/i18n.ts';
import { sanitizeAltAttribute } from '#lib/utils/text.ts';

interface Props {
	image: CollectionEntry<'images'>;
}

const { image } = Astro.props;

// const { title, titleAlt, dateCaptured } = image.data;

const alt = sanitizeAltAttribute(image.data.title ?? '');

const imageProps = {
	src: image.data.src,
	alt,
	format: IMAGE_FORMAT,
	quality: IMAGE_QUALITY,
	...getImageLayoutProps({
		width: image.data.width,
		height: image.data.height,
		layout: 'medium',
	}),
} satisfies RemoteImageProps;

const placeholder = image.data.placeholder;

// TODO: offer direct image downloads at various sizes
// TODO: image licensing statement
// TODO: image backlinks
const t = getTranslations();
---

<MainSite
	meta={{
		title: image.data.title,
		description: `Image page for "${image.id}".`,
		imageId: image.id,
		imageAlt: alt,
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{image.data.title}</Fragment>
		<Fragment slot="header-title-alt">{image.data.titleAlt}</Fragment>
		<Fragment slot="header-subtitle">
			<DividedItem>
				<ContentDate date={image.data.dateCaptured} datePreset="long" />
			</DividedItem>
		</Fragment>
	</ContentHeader>
	<Container as="div">
		<ImagePlaceholder placeholder={placeholder}>
			<Image
				class:list={['rounded-xs object-cover object-center text-sm text-transparent']}
				loading="lazy"
				{...imageProps}
			/>
		</ImagePlaceholder>
	</Container>
	<ContentSection class="mt-small">
		<Fragment slot="section-title">{t('collection.images.metadata.title')}</Fragment>
		<div class="grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4">
			{
				image.data.dateCaptured ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.dateCaptured.label')}
						</Fragment>
						<DateDisplay date={image.data.dateCaptured} datePreset="long" />
					</TextGridItem>
				) : undefined
			}
			{
				image.data.camera ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.cameraModel.label')}
						</Fragment>
						{image.data.camera}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.lens ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.lensModel.label')}
						</Fragment>
						{image.data.lens}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.aperture ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.aperture.label')}
						</Fragment>
						<em>&#402;</em>&#8202;/&#8202;{image.data.aperture}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.shutterSpeed ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.shutterSpeed.label')}
						</Fragment>
						{`${String(image.data.shutterSpeed)} sec`}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.focalLength ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.focalLength.label')}
						</Fragment>
						{image.data.focalLength}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.iso ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">{t('collection.images.metadata.iso.label')}</Fragment>
						{image.data.iso}
					</TextGridItem>
				) : undefined
			}
			{
				image.data.exposureValue ? (
					<TextGridItem>
						<Fragment slot="grid-item-title">
							{t('collection.images.metadata.exposureValue.label')}
						</Fragment>
						{Number(image.data.exposureValue).toFixed(1)}&nbsp;
						{t('collection.images.metadata.ev.label')}
					</TextGridItem>
				) : undefined
			}
			<TextGridItem>
				<Fragment slot="grid-item-title"
					>{t('collection.images.metadata.sourceDimensions.label')}</Fragment
				>
				<Fragment
					set:html={`${String(image.data.width)}&#8202;&#215;&#8202;${String(image.data.height)}`}
				/>
			</TextGridItem>
		</div>
	</ContentSection>
</MainSite>
