---
import type { MapComponentData } from '@spectralcodex/react-map-component';
import type { CollectionEntry } from 'astro:content';

import type { ContentMetadataItem } from '#lib/types/index.ts';

import ContentCollectionLink from '#components/content/content-collection-link.astro';
import ContentDate from '#components/content/content-date.astro';
import ContentDescription from '#components/content/content-description.astro';
import ContentHeader from '#components/content/content-header.astro';
import ContentImage from '#components/content/content-image.astro';
import ContentSectionAuthor from '#components/content/content-section-author.astro';
import ContentSectionBacklinks from '#components/content/content-section-backlinks.astro';
import ContentSectionDateVisited from '#components/content/content-section-date-visited.astro';
import ContentSectionLinks from '#components/content/content-section-links.astro';
import ContentSectionMap from '#components/content/content-section-map.astro';
import ContentSectionPreviewGrid from '#components/content/content-section-preview-grid.astro';
import ContentSectionRelated from '#components/content/content-section-related.astro';
import ContentSectionSeries from '#components/content/content-section-series.astro';
import ContentSectionSources from '#components/content/content-section-sources.astro';
import ContentSectionThemes from '#components/content/content-section-themes.astro';
import ImageHero from '#components/image-hero/image-hero.astro';
import LocationsAddress from '#components/locations/locations-address.astro';
import LocationsHeritage from '#components/locations/locations-heritage.astro';
import LocationsNearbyList from '#components/locations/locations-nearby-list.astro';
import LocationsNotices from '#components/locations/locations-notices.astro';
import MainSite from '#components/main/main-site.astro';
import DividedItem from '#components/parts/divided-item.astro';
import Multilingual from '#components/parts/multilingual.astro';
import RegionsBreadcrumbs from '#components/regions/regions-breadcrumbs.astro';
import { getFirstRegionByReferenceFunction } from '#lib/collections/regions/utils.ts';
import { getPrimaryMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getImageFeaturedId, getImageHeroId } from '#lib/image/image-featured.ts';
import { getHasContent } from '#lib/utils/astro.ts';
import { DatePresetEnum } from '#lib/utils/date.ts';
import { getPagefindBodyProp } from '#lib/utils/pagefind.ts';
import { getSeoHideSearch, getSeoImageProps } from '#lib/utils/seo.ts';

interface Props {
	entry: CollectionEntry<'locations'>;
	mapData: MapComponentData;
	metadataItems: Array<ContentMetadataItem>;
	backlinks: Array<ContentMetadataItem> | undefined;
}

const { entry, mapData, metadataItems, backlinks } = Astro.props;

// This allows for titles to be overridden for sensitive or hidden sites
const title = entry.data.override?.title ?? entry.data.title;
const titleMultilingual =
	getPrimaryMultilingualContent(entry.data.override, 'title') ??
	getPrimaryMultilingualContent(entry.data, 'title');

const getFirstRegionByReference = await getFirstRegionByReferenceFunction();

const regionPrimary = getFirstRegionByReference(entry.data.override?.regions ?? entry.data.regions);
const regionLangCode = regionPrimary?.data.langCode;

const themeIds = entry.data.themes?.map(({ id }) => id);

const hasContent = getHasContent(entry);
const imageFeaturedId = getImageFeaturedId({
	imageFeatured: entry.data.imageFeatured,
});
const imageHeroId = getImageHeroId({
	imageFeatured: entry.data.imageFeatured,
	fallback: entry.data.showHero === true,
});

const hasHeroImage = !!imageHeroId;

const hideLocation = entry.data.hideLocation && !import.meta.env.DEV;
---

<MainSite
	meta={{
		title: titleMultilingual ? `${title} (${titleMultilingual.value})` : title,
		description: entry.data.description,
		image: getSeoImageProps({
			...(entry.data.imageFeatured ? { id: entry.id } : { fallback: 'og-image-location' }),
			alt: title,
		}),
		...getSeoHideSearch(entry.data.hideSearch),
	}}
	hasHeroImage={hasHeroImage}
>
	<article class="h-entry" {...getPagefindBodyProp(entry.data.hideSearch)}>
		<ImageHero class="sm:mb-small" hasHeroImage={hasHeroImage} imageId={imageHeroId} alt={title}>
			<ContentHeader hasHeroImage={hasHeroImage}>
				<Fragment slot="header-title">
					<a href={Astro.url.toString()} class="p-name p-url">{entry.data.title}</a>
				</Fragment>
				<Fragment slot="header-title-multilingual">
					<Multilingual content={titleMultilingual} />
				</Fragment>
				<Fragment slot="header-subtitle">
					<DividedItem hasHeroImage={hasHeroImage}>
						<ContentCollectionLink collection="locations" hasHeroImage={hasHeroImage} />
					</DividedItem>
					{
						regionPrimary ? (
							<DividedItem hasHeroImage={hasHeroImage}>
								<RegionsBreadcrumbs
									entry={regionPrimary}
									showCurrentLink={true}
									hasHeroImage={hasHeroImage}
								/>
							</DividedItem>
						) : undefined
					}
					<DividedItem hasHeroImage={hasHeroImage}>
						<ContentDate
							date={entry.data.dateCreated}
							dateUpdated={entry.data.dateUpdated}
							datePreset={DatePresetEnum.Medium}
							showMicroformats={true}
						/>
					</DividedItem>
				</Fragment>
			</ContentHeader>
		</ImageHero>
		{
			!hasContent && imageFeaturedId ? (
				<ContentImage imageId={imageFeaturedId} alt={title} showMetadata={true} />
			) : undefined
		}
		<ContentDescription class="e-content" entry={entry} />
		<LocationsHeritage heritage={entry.data.heritage} />
		{hideLocation ? undefined : <ContentSectionLinks entry={entry} />}
		{hideLocation ? undefined : <ContentSectionSources entry={entry} />}
		{hideLocation ? undefined : <ContentSectionDateVisited dateVisited={entry.data.dateVisited} />}
		<ContentSectionThemes themeIds={themeIds} />
		<ContentSectionBacklinks backlinks={backlinks} />
		<ContentSectionSeries entry={entry} />
		<ContentSectionPreviewGrid items={metadataItems} />
		{
			hideLocation ? undefined : (
				<ContentSectionMap mapData={mapData}>
					<LocationsAddress address={entry.data.address} langCode={regionLangCode} />
				</ContentSectionMap>
			)
		}
		<LocationsNotices entry={entry} langCode={regionLangCode} />
		<LocationsNearbyList entry={entry} limit={12} />
		<ContentSectionRelated entry={entry} showPreviews={true} limit={8} />
		<ContentSectionAuthor showAuthor={false} />
	</article>
</MainSite>
