---
import type { MapComponentData } from '@spectralcodex/react-map-component';
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import { stripDiacritics } from '@spectralcodex/shared/text';

import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import ContentArticle from '#components/content/content-article.astro';
import ContentDescription from '#components/content/content-description.astro';
import ContentHeader from '#components/content/content-header.astro';
import MainSite from '#components/main/main-site.astro';
import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import SectionLinks from '#components/sections/section-links.astro';
import SectionMap from '#components/sections/section-map.astro';
import SectionMetadataGrid from '#components/sections/section-metadata-grid.astro';
import SectionRegions from '#components/sections/section-regions.astro';
import SectionThemes from '#components/sections/section-themes.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getImageFeaturedId } from '#lib/image/image-featured.ts';
import { getSeoImageProps } from '#lib/utils/seo.ts';
import { formatNumber } from '#lib/utils/text.ts';

interface Props {
	entry: CollectionEntry<'resources'>;
	mapData: MapComponentData;
	page: Page<ContentMetadataItem>;
}

const { entry, mapData, page } = Astro.props;

const titleMultilingual = getMultilingualContent({ data: entry.data, prop: 'title' })?.primary;

const regionIds = entry.data.regions?.map(({ id }) => id);
const themeIds = entry.data.themes?.map(({ id }) => id);

const imageFeaturedId = getImageFeaturedId({ imageFeatured: entry.data.imageFeatured });

const t = getTranslations();
---

<MainSite
	meta={{
		title: titleMultilingual
			? `${entry.data.title} (${titleMultilingual.value})`
			: entry.data.title,
		description: entry.body ?? undefined,
		image: await getSeoImageProps({
			id: entry.id,
			alt: entry.data.title,
		}),
		prefetchUrls: mapData.prefetchUrls,
	}}
>
	<ContentArticle imageId={imageFeaturedId} hideSearch={page.currentPage !== 1}>
		<ContentHeader>
			<Fragment slot="header-title">{stripDiacritics(entry.data.title)}</Fragment>
			<Fragment slot="header-title-multilingual">
				<TextMultilingual content={titleMultilingual} />
			</Fragment>
			<Fragment slot="header-subtitle">
				{
					entry.data.url ? (
						<DividedItem>
							<Link href={entry.data.url}>{t('collection.resources.homepage.label')}</Link>
						</DividedItem>
					) : undefined
				}
				{
					entry.data._locationCount || entry.data._postCount ? (
						<DividedItem>
							<span>
								{t('collection.resources.contentCount.label')}:{' '}
								{formatNumber({
									number: Number(entry.data._locationCount) + Number(entry.data._postCount),
								})}
							</span>
						</DividedItem>
					) : undefined
				}
				{
					entry.data.authors || entry.data.publisher || entry.data.publishedDate ? (
						<DividedItem>
							{entry.data.authors?.map((author) => author.name).join(' & ')}
							{entry.data.authors && (entry.data.publisher || entry.data.publishedDate) ? ', ' : ''}
							{entry.data.publisher}
							{entry.data.publisher && entry.data.publishedDate ? ', ' : ''}
							{entry.data.publishedDate}
						</DividedItem>
					) : undefined
				}
			</Fragment>
		</ContentHeader>
		<ContentDescription entry={entry} />
		<SectionMap mapData={mapData} />
		<SectionLinks entry={entry} />
		<SectionRegions regionIds={regionIds} />
		<SectionThemes themeIds={themeIds} />
		<SectionMetadataGrid page={page} />
	</ContentArticle>
</MainSite>
