---
import type { MapComponentData } from '@spectralcodex/react-map-component';
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import ContentDescription from '#components/content/content-description.astro';
import ContentHeader from '#components/content/content-header.astro';
import ContentSectionLinks from '#components/content/content-section-links.astro';
import ContentSectionMap from '#components/content/content-section-map.astro';
import ContentSectionMetadataGrid from '#components/content/content-section-metadata-grid.astro';
import ContentSectionRegions from '#components/content/content-section-regions.astro';
import ContentSectionThemes from '#components/content/content-section-themes.astro';
import MainSite from '#components/main/main-site.astro';
import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getPrimaryMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getPagefindBodyProp } from '#lib/utils/pagefind.ts';
import { getSeoImageProps } from '#lib/utils/seo.ts';
import { formatNumber } from '#lib/utils/text.ts';

interface Props {
	entry: CollectionEntry<'resources'>;
	mapData: MapComponentData;
	page: Page<ContentMetadataItem>;
}

const { entry, mapData, page } = Astro.props;

const titleMultilingual = getPrimaryMultilingualContent(entry.data, 'title');

const regionIds = entry.data.regions?.map(({ id }) => id);
const themeIds = entry.data.themes?.map(({ id }) => id);

const t = getTranslations();
---

<MainSite
	meta={{
		title: titleMultilingual
			? `${entry.data.title} (${titleMultilingual.value})`
			: entry.data.title,
		description: entry.body ?? undefined,
		image: await getSeoImageProps({
			id: entry.id,
			alt: entry.data.title,
		}),
		prefetchUrls: mapData.prefetchUrls,
	}}
>
	<article {...getPagefindBodyProp(page.currentPage !== 1)}>
		<ContentHeader>
			<Fragment slot="header-title">{entry.data.title}</Fragment>
			<Fragment slot="header-title-multilingual">
				<TextMultilingual content={titleMultilingual} />
			</Fragment>
			<Fragment slot="header-subtitle">
				{
					entry.data.url ? (
						<DividedItem>
							<Link href={entry.data.url}>{t('collection.resources.homepage.label')}</Link>
						</DividedItem>
					) : undefined
				}
				{
					entry.data._locationCount || entry.data._postCount ? (
						<DividedItem>
							<span>
								{t('collection.resources.contentCount.label')}:{' '}
								{formatNumber({
									number: Number(entry.data._locationCount) + Number(entry.data._postCount),
								})}
							</span>
						</DividedItem>
					) : undefined
				}
				{
					entry.data.authors || entry.data.publisher || entry.data.datePublished ? (
						<DividedItem>
							{entry.data.authors?.map((author) => author.name).join(' & ')}
							{entry.data.authors && (entry.data.publisher || entry.data.datePublished) ? ', ' : ''}
							{entry.data.publisher}
							{entry.data.publisher && entry.data.datePublished ? ', ' : ''}
							{entry.data.datePublished}
						</DividedItem>
					) : undefined
				}
			</Fragment>
		</ContentHeader>
		<ContentDescription entry={entry} />
		<ContentSectionLinks entry={entry} />
		<ContentSectionRegions regionIds={regionIds} />
		<ContentSectionThemes themeIds={themeIds} />
		<ContentSectionMap mapData={mapData} persistId={`link-${entry.id}`} />
		<ContentSectionMetadataGrid page={page} />
	</article>
</MainSite>
