---
import type { MapComponentData } from '@spectralcodex/react-map-component';
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import ContentCollectionLink from '#components/content/content-collection-link.astro';
import ContentDescription from '#components/content/content-description.astro';
import ContentHeader from '#components/content/content-header.astro';
import ContentSectionMap from '#components/content/content-section-map.astro';
import ContentSectionMetadataGrid from '#components/content/content-section-metadata-grid.astro';
import ImageHeroCarousel from '#components/image/image-hero-carousel.astro';
import MainSite from '#components/main/main-site.astro';
import DividedItem from '#components/parts/divided-item.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getImageFeaturedGroup } from '#lib/image/image-featured.ts';
import { getContentMetadataIndex } from '#lib/metadata/metadata-index.ts';
import { getPagefindBodyProp } from '#lib/utils/pagefind.ts';
import { getSeoHideSearch, getSeoImageProps } from '#lib/utils/seo.ts';
import { formatNumber, stripDiacritics } from '#lib/utils/text.ts';

interface Props {
	entry: CollectionEntry<'series'>;
	mapData: MapComponentData;
	page: Page<ContentMetadataItem>;
	wordCount?: number | undefined;
}

const { entry, mapData, page, wordCount } = Astro.props;

const titleMultilingual = getMultilingualContent({ data: entry.data, prop: 'title' })?.primary;

const contentMetadataIndex = await getContentMetadataIndex();

const imageFeaturedGroup = getImageFeaturedGroup({
	imageFeatured: entry.data.imageFeatured,
	contentMetadataIndex,
	shuffle: true,
});

const hasHeroImage = !!imageFeaturedGroup && imageFeaturedGroup.length > 0;

const t = getTranslations();
---

<MainSite
	meta={{
		title: titleMultilingual
			? `${entry.data.title} (${titleMultilingual.value})`
			: entry.data.title,
		description: entry.data.description ?? entry.body ?? undefined,
		image: await getSeoImageProps({
			id: entry.id,
			alt: entry.data.title,
		}),
		...getSeoHideSearch(entry.data.hideSearch),
		prefetchUrls: mapData.prefetchUrls,
	}}
	hasHeroImage={hasHeroImage}
>
	<article {...getPagefindBodyProp(!!entry.data.hideSearch || page.currentPage !== 1)}>
		<ImageHeroCarousel
			class="sm:mb-small"
			hasHeroImage={hasHeroImage}
			imageFeaturedGroup={imageFeaturedGroup}
		>
			<ContentHeader hasHeroImage={hasHeroImage}>
				<Fragment slot="header-title">{stripDiacritics(entry.data.title)}</Fragment>
				<Fragment slot="header-title-multilingual">
					<TextMultilingual content={titleMultilingual} />
				</Fragment>
				<Fragment slot="header-subtitle">
					<DividedItem hasHeroImage={hasHeroImage}>
						<ContentCollectionLink collection={entry.collection} hasHeroImage={hasHeroImage} />
					</DividedItem>
					{
						wordCount && wordCount > 0 ? (
							<DividedItem hasHeroImage={hasHeroImage}>
								<span>
									{t('content.meta.wordCount.label')}: {formatNumber({ number: wordCount })}
								</span>
							</DividedItem>
						) : undefined
					}
				</Fragment>
			</ContentHeader>
		</ImageHeroCarousel>
		<ContentDescription entry={entry} />
		<ContentSectionMetadataGrid page={page} />
		<ContentSectionMap mapData={mapData} persistId={`series-${entry.id}`} />
	</article>
</MainSite>
