---
import type { TimelineMonthlyItem } from '#lib/timeline/timeline-types.ts';

import ContentHeader from '#components/content/content-header.astro';
import ContentSection from '#components/content/content-section.astro';
import MainSite from '#components/main/main-site.astro';
import Link from '#components/parts/link.astro';
import TimelineItem from '#components/timeline/timeline-item.astro';
import TimelineNavigation from '#components/timeline/timeline-navigation.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { getSeoHideSearch } from '#lib/utils/seo.ts';

interface Props {
	timelineMonthlyData: Array<TimelineMonthlyItem>;
	timelineYear: string;
	timelineYears: Array<string>;
}

const { timelineMonthlyData, timelineYear, timelineYears } = Astro.props;

const t = getTranslations();
---

<MainSite
	meta={{
		title: t('timeline.title'),
		description: t('timeline.yearly.description').replace('%s', timelineYear),
		...getSeoHideSearch(true),
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{t('timeline.title')}: {timelineYear}</Fragment>
		<Fragment slot="header-subtitle"
			><TimelineNavigation currentYear={timelineYear} timelineYears={timelineYears} /></Fragment
		>
	</ContentHeader>
	<ContentSection>
		<ol>
			{
				timelineMonthlyData
					.sort((a, b) => Number(a.month) - Number(b.month))
					.map((monthlyData) => {
						return (
							<li class="text-primary-700 dark:text-primary-400 mb-medium flex flex-col gap-2 text-sm">
								<h2 class="border-primary-200 dark:border-primary-700 border-b pb-1 text-sm font-semibold uppercase">
									<Link
										href={getSiteUrl('timeline', monthlyData.year, monthlyData.month)}
										linkColor="primary"
									>
										{monthlyData.monthName}
									</Link>
								</h2>
								<TimelineItem
									title={t('timeline.monthly.updated')}
									items={monthlyData.updated}
									count={monthlyData.updatedCount}
								/>
								<TimelineItem
									title={t('timeline.monthly.created')}
									items={monthlyData.created}
									count={monthlyData.createdCount}
								/>
								<TimelineItem
									title={t('timeline.monthly.visited')}
									items={monthlyData.visited}
									count={monthlyData.visitedCount}
								/>
							</li>
						);
					})
			}
		</ol>
	</ContentSection>
</MainSite>
