---
import type {
	ContentMetadataItem,
	TimelineDataMap,
	TimelineMonthlyData,
} from '#lib/types/index.ts';

import ContentHeader from '#components/content/content-header.astro';
import ContentSection from '#components/content/content-section.astro';
import MainSite from '#components/main/main-site.astro';
import Link from '#components/parts/link.astro';
import TimelineItem from '#components/timeline/timeline-item.astro';
import TimelineNavigation from '#components/timeline/timeline-navigation.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { getSeoHideSearch } from '#lib/utils/seo.ts';

interface Props {
	timelineDataMap: TimelineDataMap;
	years: Array<string>;
}

const { timelineDataMap, years } = Astro.props;

const t = getTranslations();

const mergeAndFilter = (
	yearlyData: Map<string, TimelineMonthlyData>,
	category: 'updated' | 'created' | 'visited'
) => {
	const allItems = new Set<ContentMetadataItem>();

	for (const monthData of yearlyData.values()) {
		for (const item of monthData[category]) allItems.add(item);
	}

	return [...allItems]
		.filter((item) => item.entryQuality >= 3 && item.imageId !== undefined)
		.sort((a, b) => b.entryQuality - a.entryQuality);
};
---

<MainSite
	meta={{
		title: t('timeline.title'),
		description: t('timeline.index.description'),
		...getSeoHideSearch(true),
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{t('timeline.title')}</Fragment>
		<Fragment slot="header-subtitle"><TimelineNavigation years={years} /></Fragment>
	</ContentHeader>
	<ContentSection>
		<ol>
			{
				[...timelineDataMap.entries()]
					.sort(([a], [b]) => Number(b) - Number(a))
					.map(([year, yearlyData]) => {
						const updated = mergeAndFilter(yearlyData, 'updated');
						const updatedIds = new Set(updated.map((item) => item.id));
						const created = mergeAndFilter(yearlyData, 'created').filter(
							(item) => !updatedIds.has(item.id)
						);
						const createdIds = new Set(created.map((item) => item.id));
						const visited = mergeAndFilter(yearlyData, 'visited').filter(
							(item) => !updatedIds.has(item.id) && !createdIds.has(item.id)
						);

						if (updated.length === 0 && created.length === 0 && visited.length === 0) return;

						return (
							<li class="mb-medium flex flex-col gap-1">
								<h2 class="border-primary-200 mb-1 border-b pb-1 text-sm font-semibold uppercase">
									<Link
										class="text-sm font-semibold uppercase"
										href={getSiteUrl('timeline', year)}
										linkColor="primary"
									>
										{year}
									</Link>
								</h2>
								<TimelineItem title={t('timeline.monthly.updated')} items={updated} />
								<TimelineItem title={t('timeline.monthly.created')} items={created} />
								<TimelineItem title={t('timeline.monthly.visited')} items={visited} />
							</li>
						);
					})
			}
		</ol>
	</ContentSection>
</MainSite>
