---
import type { TimelineMonthlyItem } from '#lib/timeline/timeline-types.ts';

import ContentHeader from '#components/content/content-header.astro';
import ContentSection from '#components/content/content-section.astro';
import MainSite from '#components/main/main-site.astro';
import TimelineItem from '#components/timeline/timeline-item.astro';
import TimelineNavigation from '#components/timeline/timeline-navigation.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSeoHideSearch } from '#lib/utils/seo.ts';

interface Props {
	timelineMonthlyItem: TimelineMonthlyItem;
	timelineYears: Array<string>;
}

const { timelineMonthlyItem, timelineYears } = Astro.props;

const t = getTranslations();
---

<MainSite
	meta={{
		title: t('timeline.title'),
		description: t('timeline.monthly.description').replace('%s', timelineMonthlyItem.title),
		...getSeoHideSearch(true),
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{t('timeline.title')}: {timelineMonthlyItem.title}</Fragment>
		<Fragment slot="header-subtitle"
			><TimelineNavigation
				currentMonth={timelineMonthlyItem.month}
				currentYear={timelineMonthlyItem.year}
				timelineYears={timelineYears}
			/></Fragment
		>
	</ContentHeader>
	<ContentSection>
		<div class="mb-medium flex flex-col gap-1">
			<TimelineItem
				title={t('timeline.monthly.updated')}
				items={timelineMonthlyItem.updated}
				count={timelineMonthlyItem.updatedCount}
			/>
			<TimelineItem
				title={t('timeline.monthly.created')}
				items={timelineMonthlyItem.created}
				count={timelineMonthlyItem.createdCount}
			/>
			<TimelineItem
				title={t('timeline.monthly.visited')}
				items={timelineMonthlyItem.visited}
				count={timelineMonthlyItem.visitedCount}
			/>
		</div></ContentSection
	>
</MainSite>
