---
import type { TimelineData } from '#lib/timeline/timeline-types.ts';

import ContentHeader from '#components/content/content-header.astro';
import ContentSection from '#components/content/content-section.astro';
import MainSite from '#components/main/main-site.astro';
import Link from '#components/parts/link.astro';
import TimelineItem from '#components/timeline/timeline-item.astro';
import TimelineNavigation from '#components/timeline/timeline-navigation.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { getSeoHideSearch } from '#lib/utils/seo.ts';

interface Props {
	timelineIndexData: TimelineData['timelineIndexData'];
	timelineYears: Array<string>;
}

const { timelineIndexData, timelineYears } = Astro.props;

const t = getTranslations();
---

<MainSite
	meta={{
		title: t('timeline.title'),
		description: t('timeline.index.description'),
		...getSeoHideSearch(true),
	}}
>
	<ContentHeader>
		<Fragment slot="header-title">{t('timeline.title')}</Fragment>
		<Fragment slot="header-subtitle"><TimelineNavigation timelineYears={timelineYears} /></Fragment>
	</ContentHeader>
	<ContentSection>
		<ol>
			{
				Object.entries(timelineIndexData)
					.sort(([yearA], [yearB]) => yearB.localeCompare(yearA))
					.map(([year, yearlyData]) => {
						return (
							<li class="mb-medium flex flex-col gap-1">
								<h2 class="border-primary-200 mb-1 border-b pb-1 text-sm font-semibold uppercase">
									<Link
										class="text-sm font-semibold uppercase"
										href={getSiteUrl('timeline', year)}
										linkColor="primary"
									>
										{year}
									</Link>
								</h2>
								<TimelineItem title={t('timeline.monthly.updated')} items={yearlyData.updated} />
								<TimelineItem title={t('timeline.monthly.created')} items={yearlyData.created} />
								<TimelineItem title={t('timeline.monthly.visited')} items={yearlyData.visited} />
							</li>
						);
					})
			}
		</ol>
	</ContentSection>
</MainSite>
