---
import type { HTMLAttributes } from 'astro/types';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import { renderSlot } from '#lib/utils/astro.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props extends HTMLAttributes<'div'> {
	currentYear?: string | undefined;
	currentMonth?: string | undefined;
	archivesYears: Array<string>;
	archivesMonths?: Array<string> | undefined;
	hasHeroImage?: boolean | undefined;
}

const {
	class: className,
	currentYear,
	currentMonth,
	archivesYears,
	archivesMonths,
	hasHeroImage = false,
	...props
} = Astro.props;

const indexSlot = await renderSlot(Astro.slots, 'default');
---

{
	archivesYears.length > 0 ? (
		<div
			class:list={[
				'flex flex-col gap-1 overflow-hidden text-sm text-primary-500 dark:text-primary-400',
				hasHeroImage ? 'mb-medium sm:mb-0' : '',
				className,
			]}
			{...props}
		>
			<div
				class:list={[
					'flex gap-1',
					hasHeroImage ? 'flex-wrap sm:flex-nowrap sm:overflow-x-scroll' : 'flex-wrap',
				]}
			>
				{indexSlot ? (
					<DividedItem hasHeroImage={hasHeroImage} dividerContent="chevron">
						<Fragment set:html={indexSlot} />
					</DividedItem>
				) : undefined}
				{archivesYears.map((archivesYear) => (
					<DividedItem hasHeroImage={hasHeroImage}>
						{!currentMonth && currentYear === archivesYear ? (
							<span
								class:list={[
									'font-semibold text-primary-600 dark:text-primary-400',
									hasHeroImage ? 'sm:text-accent-200' : '',
								]}
							>
								{archivesYear}
							</span>
						) : (
							<Link
								class={currentMonth && currentYear === archivesYear ? 'font-semibold' : undefined}
								href={getSiteUrl('archives', archivesYear)}
								linkColor={hasHeroImage ? 'accent-featured' : 'accent'}
							>
								{archivesYear}
							</Link>
						)}
					</DividedItem>
				))}
			</div>
			{currentYear && currentMonth && archivesMonths && archivesMonths.length > 0 ? (
				<div
					class:list={[
						'flex gap-1',
						hasHeroImage ? 'flex-wrap sm:flex-nowrap sm:overflow-x-scroll' : 'flex-wrap',
					]}
				>
					{archivesMonths
						.sort((monthA, monthB) => monthA.localeCompare(monthB))
						.map((monthNumber) => {
							const monthName = new Date(0, Number(monthNumber) - 1).toLocaleDateString('default', {
								month: 'long',
							});

							return (
								<DividedItem hasHeroImage={hasHeroImage}>
									{currentMonth === monthNumber ? (
										<span
											class:list={[
												'font-semibold text-highlight-600',
												hasHeroImage ? 'sm:text-highlight-200' : '',
											]}
										>
											{monthName}
										</span>
									) : (
										<Link
											href={getSiteUrl('archives', currentYear, monthNumber)}
											linkColor={hasHeroImage ? 'highlight-featured' : 'highlight'}
										>
											{monthName}
										</Link>
									)}
								</DividedItem>
							);
						})}
				</div>
			) : undefined}
		</div>
	) : undefined
}
